@import '../../app_sass/variables';


pos-search-bar {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 11.9px;
    position: relative;
    left: 5px;
    right: 5px;
    top: -10.5px;
    color: $drive-text-color;
    transition: background-color ease-in 100ms;
    font-size: 16px;
    background: #eee no-repeat 11px 11px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: $site-bg-color-100;
    border: thin solid #fff;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 2px;
   

    .search-container input {
        font-size: 1.2rem;
        padding: 0 50px;
        margin-top:1px;
        outline: none;
        border: thin solid #fff;
        transition: background-color ease-in 100ms;
        background: #eee no-repeat 11px 11px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
     
            background-color: $site-bg-color-100;
            border: thin solid #fff;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            border-radius: 2px;
        
    }




    .search-icon {
        position: absolute;
        top: -3px;
        left: 6px;
    }

    .cancel-icon {
        position: absolute;
        top: -5px;
        right: -5px;
    }
}

.file-types-autocomplete.mat-autocomplete-panel {
    max-height: 350px;
    margin-top: 11px;
    color: $site-text-color-400;
    background-color: $site-bg-color-100;

    .mat-option {
        line-height: normal;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .small{
        padding:0 0 0 15px;
    }
    .mat-option-text {
        display: flex;
        align-items: center;

        file-icon,
        .date {
            align-self: start;
        }

        .owner {
            color: $site-text-color-300;
        }

        file-icon {
            margin-right: 10px;
        }

        .date {
            margin-left: auto;
        }
    }
}
