<form class="search-container" [class.autoHover]="'true'" (ngSubmit)="openSearchPage({query: formControl.value})">
    <input type="text" autofocus="" [matAutocomplete]="auto" [class.autoHover]="'true'" (input)="openSearchPage({query: formControl.value})"   [formControl]="formControl" placeholder="Search product">
    <button type="button" mat-icon-button class="search-icon">
        <mat-icon svgIcon="search"></mat-icon>
    </button>
    <button type="button" mat-icon-button class="cancel-icon" *ngIf="formControl.value" (click)="resetForm()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</form>
 <mat-autocomplete #auto="matAutocomplete" class="file-types-autocomplete" >
 <loading-indicator [isVisible]="loading$ | async" class="overlay"></loading-indicator>
 <div  *ngIf="(entries$ | async).length > 0">
      <mat-option *ngFor="let stock of entries$ | async" [value]="stock.name" 
       matTooltip="{{stock.name}}"
                    [matTooltipPosition]="'left'"
                    aria-label="stock.name"   
                    matRipple
                    [matRippleCentered]="centered"
                    [matRippleDisabled]="disabled"
                    [matRippleUnbounded]="unbounded"
                    [matRippleRadius]="radius"
                    [matRippleColor]="color" (click)="addItemToCart(stock)" [class.isactive]="selectedItem && selectedItem.id==stock.id">
                    <span class="ellipsis">{{stock.name}} </span>
                    <div *ngIf="stock.customer_price" class="text-info text-center ellipsis">
                      <small class="small">{{stock.customer_type.name}}</small>
                     
                      <small class="ellipsis">
                       <span class="small">{{currentUser.getBusiness('currency_code')}} {{stock.customer_price.sale_price_including_tax}}</span>
                     
                        <span class="ellipsis small">
                            {{stock.available_stock_qty}} Qty
                        </span>
                        <span class="ellipsis small"> {{percentage(stock.available_stock_qty,stock.in_stock_qty)}} %</span>
                  
                    </small>
                </div>

                       
      </mat-option>
      </div>
    </mat-autocomplete>
