@import '~@angular/material/theming';
@import "../../app_sass/variables";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  .mat-icon:not(.toggle-expansion-icon) {
    margin-right: 0px!important; 
  }
  
  .mat-icon {
    margin-right: 0px!important; 
  }
  .mat-list-item {
    font-size: .8rem;
    font-weight: 400;
    color: $admin-left-col-text-color;
    text-transform: capitalize;
    display: flex;
    padding: 4px 0;
    width: 100%;
    line-height: .7em;
    
    .routeIcon {
      margin-right: 2px;
    }
    .expand_more{
      margin-right: 0px;
      position: relative;
      right:0;
      float:right;
    }

  }

  .mat-list-item.active {
    color: $site-primary-color-100;
    background-color: $site-selected-item-bg-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      color: $site-primary-color-100;
      background-color: $site-selected-item-bg-color;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}



