<div class="primary-section__body">
    <div class="product-area">
      <div class="primary-section-content">
        <div class="primary-section-content__header">
          <div class="breadcrumb-menu product-area__breadcrumb-menu">
             <span class="breadcrumb-menu__item">
             <pos-search-bar></pos-search-bar>
             </span>
            <span class="breadcrumb-menu__item" *ngIf="(category$ | async)"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="breadcrumb-menu__chevron" style="width: 1.5rem; height: 2rem; fill: rgb(0, 0, 0);">
                <g>
                  <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                </g>
              </svg><a class="breadcrumb-menu__link">{{(category$ | async).name}}</a>
            </span>
            <span class="breadcrumb-menu__item"><a class="breadcrumb-menu__link" (click)="goBackToCategory()">Home</a>
            </span>
            
        
          </div>
         
        </div>
        </div>
        </div>
        </div>
