<data-table [dataSource]="dataSource" itemsName="Stock Order(s)" [isLoading]="(loading | async)"
  notFoundMessage="Seems like no {{dataForm.value.status}} order found!" hiddenCheckBox="false" matSort>

  <div headerLeftActions>
    <div class="row">
      <div class="col-4">
        <table class="w-100 mt-4">
          <tr>
            <td> <button mat-raised-button class="button" trans>New Order</button></td>
            <td> <button mat-raised-button class="button" trans>Transfer Order</button></td>
          </tr>
        </table>
      </div>
      <div class="col-8 float-right">
        <form [formGroup]="dataForm">
          <table class="w-100 ml-3 mt-3">
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Show</mat-label>

                  <mat-select formControlName="status">
                    <mat-option *ngFor="let t of orderTypes" [value]="t.value"
                      (onSelectionChange)="orderParams($event,true)">
                      {{t.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Date From</mat-label>

                  <input matInput [matDatepicker]="from" placeholder="Date From" formControlName="dateFrom"
                    (dateInput)="orderParams($event)" (dateChange)="orderParams($event)">
                  <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                  <mat-datepicker #from></mat-datepicker>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Date To</mat-label>

                  <input matInput [matDatepicker]="to" placeholder="Date To" formControlName="dateTo"
                    (dateInput)="orderParams($event)" (dateChange)="orderParams($event)">
                  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                  <mat-datepicker #to></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </div>

    </div>
  </div>
  <div class="input-container" headerRightActions>
    <input type="text" class="search" placeholder="Search Order#,Supplier,name,Order Due" trans-placeholder
      [formControl]="dataSource.searchQuery">
    <mat-icon svgIcon="search"></mat-icon>
  </div>

  <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteSelectedOrders()"
    headerSelectedActions>
    <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <ng-container matColumnDef="order_no">
    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Number
    </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.order_no}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="from">
    <mat-header-cell *matHeaderCellDef trans>From</mat-header-cell>
    <mat-cell *matCellDef="let order">
      <span *ngIf="order.supplier" class="ellipsis">
        {{order.supplier?order.supplier.full_name:'----'}}
      </span>
      <span *ngIf="order.transferForm" class="ellipsis">
        {{order.transferForm?order.transferForm.name:'----'}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="to">
    <mat-header-cell *matHeaderCellDef trans>To</mat-header-cell>
    <mat-cell *matCellDef="let order">
      <span *ngIf="order.deliverTo" class="ellipsis">
        {{order.deliverTo?order.deliverTo.name:'----'}}
      </span>
      <span *ngIf="order.transferTo" class="ellipsis">
        {{order.transferTo?order.transferTo.name:'----'}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reference">
    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Reference</mat-header-cell>
    <mat-cell *matCellDef="let order"> <span class="ellipsis" [matTooltip]="order.reference">{{order.reference}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="order_status">
    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Status</mat-header-cell>
    <mat-cell *matCellDef="let order"> <span class="ellipsis">{{order.order_status}} </span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="items">
    <mat-header-cell *matHeaderCellDef trans>Items</mat-header-cell>
    <mat-cell *matCellDef="let order"> <span class="ellipsis">{{total(order.order_items,'qty') | roundNumber}} </span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef trans>Amount</mat-header-cell>
    <mat-cell *matCellDef="let order">
      <b>{{currentUser.getBusiness('currency_code')}} {{total(order.order_items,'total_amount') | roundNumber}}</b>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="updated_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Updated at</mat-header-cell>
    <mat-cell *matCellDef="let order"> {{order.updated_at | date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let order">
      <button mat-button class="button-cancel float-left" *ngIf="order.order_status=='Open'"
        [matTooltip]="' Edit Order Details' | trans">
        Edit Details
      </button>
      <button mat-button class="button-success float-left"
        *ngIf="order.order_status=='Received'|| order.order_status=='Sold'" [matTooltip]="'View Order Details' | trans">
        View Details
      </button>
      <button mat-button class="button float-left" *ngIf="order.order_status=='Sent'"
        [matTooltip]="'Receive Order Details' | trans">
        Receive Details
      </button>
    </mat-cell>

  </ng-container>


</data-table>
