<ng-container *ngIf="info as entry; else nothingSelected">
        <button  mat-button class="col-6" color="accent" (click)="stockAdjustment('add')"><mat-icon>add</mat-icon>Add stock</button>
        <button  mat-button class="col-6" *ngIf="!entry.available_stock_qty<=0" color="warn"   (click)="stockAdjustment('remove')"><mat-icon>remove</mat-icon> Remove stock</button>
        <!-- <button  mat-button class="col-4" color="primary"   (click)="openAdvancedStockDialog()"><mat-icon>setting</mat-icon>Advanced</button> -->
    <!-- <mat-tab-group>

   <mat-tab label="Details"> -->
           <div  class="details-panel">

              <div class="details-list">
               <div class="item">
                   <div class="name" trans>Stock</div>
                   <div class="value type-value" trans>{{entry.item.item}}</div>
               </div>
               <div class="item">
                  <div class="name" trans>Category</div>
                  <div class="value">{{entry.item.category.name}} </div>
              </div>
              <div class="item">
                <div class="name" trans>SKU</div>
                <div class="value">{{entry.item.sku}} </div>
            </div>
            <div class="item">
              <div class="name" trans>Barcode</div>
              <div class="value">{{entry.item.barcode}} </div>
          </div>
          <div class="item">
            <div class="name" trans>Manufacturer</div>
            <div class="value">{{entry.item.manufacturer}}</div>
        </div>
              <div class="item">
                  <div class="name" trans>Branch</div>
                  <div class="value">{{entry.branch.name}} </div>
              </div>
               <div class="item">
                   <div class="name" trans>Status</div>
                   <div class="value">{{entry.status}} </div>
               </div>
               <div class="item">
                   <div class="name" trans>Current In-Stock Qty</div>
                   <div class="value">{{entry.available_stock_qty}}</div>
               </div>
               <div class="item">
                  <div class="name" trans>Added In-Stock Qty</div>
                  <div class="value">{{entry.in_stock_qty}}</div>
              </div>

              <div class="item">
                  <div class="name" trans>Unit Cost</div>
                  <div class="value">{{ entry.item.unit_cost }} {{ entry.item.currency }}</div>
              </div>
              <div class="item">
                  <div class="name" trans>Unit Sale</div>
                  <div class="value">{{ entry.item.unit_sale }} {{ entry.item.currency }}</div>
              </div>

               <div class="item">
                       <div class="name" trans>Modified</div>
                       <div class="value">{{entry.updated_at | date:'fullDate'}}</div>
                </div>
               <div class="item">
                   <div class="name" trans>Created</div>
                   <div class="value">{{entry.created_at | date:'fullDate'}}</div>
               </div>
           </div>

           </div>
   <!-- </mat-tab>
   <mat-tab label="Stock Movements">
      <app-stock-datails-table title="Stock Movements" [entry]='entry' [data]='entry.stock_transctions'></app-stock-datails-table>
   </mat-tab>
  </mat-tab-group> -->
</ng-container>

   <ng-template #nothingSelected>
       <div class="nothing-selected">
           <mat-icon svgIcon="selection-tool-custom" class="icon"></mat-icon>
           <div class="text" trans>Select item to view its details.</div>
       </div>
   </ng-template>

