<div class="details-list">
    <!-- Items ---------------------------------- -->

    <form [formGroup]="stockForm" (ngSubmit)="updateStock()">
       <mat-card-content>

            <div class="details-list">
                <div class="item">
                    <div class="name" trans>Stock</div>
                    <div class="value type-value" trans></div>
                </div>
                <div class="item">
                    <div class="name" trans>Current In-Stock</div>
                    <div class="value type-value" trans>{{stock.available_stock_qty}}</div>
                </div>
                <div class="item">
                    <div class="name" trans>Weight</div>
                    <div class="value">{{stock.weight}} {{stock.unit_of_measure}}</div>
                </div>
                <mat-divider></mat-divider>
                <br />
                <div class="item">
                    <div class="name" trans><b>Transction:</b></div>
                    <div class="value">
                        <mat-radio-group>
                            <mat-radio-button value="1">New Stock</mat-radio-button>
                            <mat-radio-button value="2">Usable Return </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <br />
            </div>
            <mat-form-field class="ybx-mat mat-full-wdth">
                <input class="text-secondary" matInput placeholder="Quantity" formControlName="qty" required>
                  <mat-error  *ngIf="qty.invalid && (qty.dirty || qty.touched)">
                    <mat-error *ngIf="qty.errors.qty && !qty.errors.required">
                      Please enter a valid quantity
                    </mat-error>
                    <mat-error *ngIf="qty.errors.required">
                      Quantity is <strong>required</strong>
                    </mat-error>
                  </mat-error>

              </mat-form-field>
        </mat-card-content>
     </form>
 </div>

