.details-list {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .name {
      width: 100px;
      flex: 0 0 100px;
      color: black;
    }

    .value {
      flex: 1 1 auto;
    }

    .type-value {
      text-transform: capitalize;
    }
  }
}
