<div class="admin-table-panel">
    <div class="admin-table-panel-header" *ngIf="!hiddenHeader">
        <div class="header-inner default" [class.hidden]="dataSource.anyRowsSelected() && selectedActions.children.length">
            <div class="left"><ng-content select="[headerLeftActions]"></ng-content></div>

            <div class="right">

                    <ng-content select="[headerRightActions]"></ng-content>

            </div>
        </div>

        <div class="header-inner selected" [class.hidden]="!dataSource.anyRowsSelected() || !selectedActions.children.length">
            <div class="left">{{dataSource.selectedRows.selected.length}} <span class="text" trans>{{itemsName}} Selected</span></div>
            <div class="right" #selectedActions><ng-content select="[headerSelectedActions]"></ng-content></div>
        </div>
    </div>
    <loading-indicator [isVisible]="dataSource.loading() || isLoading" class="overlay"></loading-indicator>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <mat-header-cell  *matHeaderCellDef>
                <mat-checkbox [disabled]="hiddenCheckBox" (change)="$event ? dataSource.masterToggle() : null"
                              [checked]="dataSource.allRowsSelected()"
                              [indeterminate]="dataSource.anyRowsSelected() && ! dataSource.allRowsSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox [disabled]="hiddenCheckBox" (click)="$event.stopPropagation()"
                              (change)="$event ? dataSource.selectedRows.toggle(row): null"
                              [checked]="dataSource.selectedRows.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-content></ng-content>


        <mat-header-row *matHeaderRowDef="columns" [class.hidden]="dataSource.isEmpty()"></mat-header-row>
        <mat-row  *matRowDef="let myRowData; columns: columns, let index = index" class="element-row" [class.highlighted_gray]="!dataSource.selectedRows.isSelected(myRowData) && (enableRowSelected && enableRowSelected.id==myRowData.id)" [class.highlighted]="dataSource.selectedRows.isSelected(myRowData)"  matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color">
        </mat-row>

    </mat-table>

    <div #noResults><ng-content *ngIf="dataSource.isEmpty()" select="no-results-message"></ng-content></div>

    <no-results-message *ngIf="!noResults.children.length && dataSource.isEmpty()">
        <span primary-text trans>Nothing To Display.</span>
        <span secondary-text trans *ngIf="!notFoundMessage">Seems like no {{itemsName}} have been created yet.</span>
        <span secondary-text trans *ngIf="notFoundMessage">{{notFoundMessage}}</span>
    </no-results-message>

    <mat-paginator [class.hidden]="dataSource.isEmpty()" [pageSize]="8" [pageSizeOptions]="[8, 15, 20, 40,60,80,100]"></mat-paginator>
</div>
