@import "../../scss/variables";
@import "../../app/app_sass/variables";
@import "../common/scss/admin-pill-nav.scss";
@import "../common/scss/setting-checkbox.scss";
@import "../common/scss/flex-table-panel.scss";
@import "../common/scss/input.scss";
@import '~@angular/material/theming';
.detail-row{
  height: 0%!important;
}
.mat-table {
  overflow: auto;
  max-height: 450px;
}
