
<data-table [dataSource]="dataSource" itemsName="Categories" matSort>
  <div headerLeftActions>
      <button mat-raised-button  class="button" (click)="showCrupdateCategoryModal()"  trans>Create a Category</button>
    </div>
  <div class="input-container" headerRightActions>
      <input type="text" class="search" placeholder="Search Categories" trans-placeholder [formControl]="dataSource.searchQuery">
      <mat-icon svgIcon="search"></mat-icon>
    </div>

  <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteSelectedCategories()" headerSelectedActions>
      <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Name</mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let category">
          <button mat-icon-button (click)="showCrupdateCategoryModal(category)"  [matTooltip]="'Edit Category' | trans">
              <mat-icon svgIcon="edit"></mat-icon>
          </button>
      </mat-cell>
  </ng-container>
</data-table>
