@import "../../scss/variables";

.scroll-container, .scroll-container-x {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &.ps {
    position: relative;
    overflow: hidden;
  }
}

.scroll-container-x {
  overflow-y: hidden;
  overflow-x: auto;
}

img {
  display: block;
}

.block {
  display: block;
}

a {
  text-decoration: none;
  color: $link-color;

  &.hover-underline {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
  visibility: hidden;
  pointer-events: none;
}

.error {
  color: $danger-bg-color;

  &.margin-bottom {
    margin-bottom: 20px;
  }

  &.margin-top {
    margin-top: 20px;
  }
}

//fix file dropzone firing "dragleave" event when hovering its child
.file-over-dropzone * {
  pointer-events: none !important;
}