
<loading-indicator [isVisible]="(loading$ | async)" class="overlay"></loading-indicator>
<div class="modal-header" *ngIf="!(toggled$ | async)">
    <h2 mat-dialog-title trans>Manage Customer</h2>
    <button type="button" mat-icon-button (click)="updatePosLayout('home')" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <app-manage-customer [action]='action' [data]="data" *ngIf="(toggled$ | async)" (closed)="toggled($event)"></app-manage-customer>
  <div *ngIf="!(toggled$ | async)">
    <button mat-raised-button color="accent" (click)="actions('add')">+</button>
    <!-- <button mat-raised-button color="accent" style="float:right;"  (click)="saveCustomer()">Save</button> -->
  </div>
  <mat-dialog-content class="many-inputs" *ngIf="(loaded$ | async) && !(toggled$ | async)">

    <span *ngIf="(customers$ | async)?.length == 0">
    no data found
    </span>

<table *ngIf="(customers$ | async)?.length > 0" mat-table [dataSource]="(customers$ | async)" class="mat-elevation-z8"
  style="width:100%;margin-top:20px;">
  <ng-container matColumnDef="cstomer_no">
    <th mat-header-cell *matHeaderCellDef> Cust no. </th>
    <td mat-cell *matCellDef="let customer"> {{customer.customer_no}} </td>
  </ng-container>
  <ng-container matColumnDef="full_name">
    <th mat-header-cell *matHeaderCellDef> Full name </th>
    <td mat-cell *matCellDef="let customer"> {{customer.full_name}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let customer"> {{customer.phone}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="tableHeads"></tr>
  <tr (click)="emitCustomer(row)" mat-row *matRowDef="let row; columns:
    tableHeads;"></tr>
</table>

</mat-dialog-content>
