<div class="ybx-signIn mt-150">
    <span class="form-load" *ngIf="loading">
        <mat-progress-bar class="primary-progress-bar" mode="indeterminate"></mat-progress-bar>
    </span>
    <div class="inner-box" *ngIf="!is_token_expired; else expired">
        <div class="justify-content-center mr-auto text-center">
            <div class="h3 d-block p-2 w-100">Change Password</div>
            <div class="d-block p-2 w-100"> Enter new password </div>
            <div class="clearfix"></div>
        </div>


        <form class="ybx-defaultForm" [formGroup]="form" (ngSubmit)="changePassword()">
            <mat-form-field class="ybx-mat mat-full-wdth">
                <input matInput placeholder="Enter your password" formControlName="password" required [type]="password_hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="password_hide = !password_hide">{{password_hide ? 'visibility' :
                    'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
                <strong>Password is required </strong>
            </mat-error>
            <div class="clearfix"></div>

            <mat-form-field class="ybx-mat mat-full-wdth">
                <input matInput placeholder="Repeat your password" formControlName="repeatPassword" required [type]="repeatPassword_hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="repeatPassword_hide = !repeatPassword_hide">{{repeatPassword_hide ?
                    'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched) && repeatPassword.errors.required">
                <strong>Repeat password is required </strong>
            </mat-error>
            <div class="clearfix"></div>

            <mat-error class="text-danger" *ngIf="does_match_password"> Password does not match </mat-error>
            <mat-error class="text-danger" *ngIf="error_msg!=''">{{error_msg}}</mat-error>

            <form class="ybx-mat">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button class="mat-primary-btn btn-block" *ngIf='!loading' type="submit">change
                            Password </button>
                    </div>
                </div>
            </form>
        </form>
    </div>
    <ng-template #expired>
        <div class="inner-box">
            <div class="row">
                <div class="col-12">
                    <div class="justify-content-center mr-auto text-center">
                        <div class="h3 d-block p-2 w-100 text-danger">Ooops! </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <div class="alert alert-danger text-center">
                        The link you provided was expired, <br /> You can
                        <a routerLink="/sign-in" routerLinkActive="active">generate reset password link</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <div class="or"></div>
                    <div class="ggl-button text-center">
                        <button>
                            <button class="mat-default-btn btn-sign-ggle" type="button">
                                <img class="google-icon" src="assets/images/icons/g-google.svg" alt="" />
                                Sign with Google </button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>