<data-table [dataSource]="dataSource" itemsName="Tax Rate" [isLoading]="(loading | async)" matSort>
  <div headerLeftActions>
      <button mat-raised-button  class="button" (click)="showCrupdateTaxRateModal()"  trans>Create a Tax Rate</button>
    </div>
  <div class="input-container" headerRightActions>
      <input type="text" class="search" placeholder="Search everything ..." trans-placeholder [formControl]="dataSource.searchQuery">
      <mat-icon svgIcon="search"></mat-icon>
    </div>

  <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteSelectedTaxRates()" headerSelectedActions>
      <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Name</mat-header-cell>
      <mat-cell *matCellDef="let tax"> {{tax.name}} <span *ngIf="enableSelectButton">({{tax.percentage}}%)</span> </mat-cell>
  </ng-container>
  <ng-container matColumnDef="percentage" *ngIf="!enableSelectButton">
    <mat-header-cell *matHeaderCellDef mat-sort-header trans>Rate(%)</mat-header-cell>
    <mat-cell *matCellDef="let tax"> {{tax.percentage}}% </mat-cell>
</ng-container>
<ng-container matColumnDef="tax_code" *ngIf="!enableSelectButton">
  <mat-header-cell *matHeaderCellDef mat-sort-header trans>Tax code</mat-header-cell>
  <mat-cell *matCellDef="let tax"> {{tax.tax_code}} </mat-cell>
</ng-container>
<ng-container matColumnDef="tax_type" *ngIf="!enableSelectButton">
  <mat-header-cell *matHeaderCellDef mat-sort-header trans>Type</mat-header-cell>
  <mat-cell *matCellDef="let tax"> {{tax.tax_type}} </mat-cell>
</ng-container>
<ng-container matColumnDef="description" *ngIf="!enableSelectButton">
  <mat-header-cell *matHeaderCellDef mat-sort-header trans>Description</mat-header-cell>
  <mat-cell *matCellDef="let tax"> {{tax.description}} </mat-cell>
</ng-container>

<ng-container matColumnDef="selected" *ngIf="enableSelectButton">
  <mat-header-cell *matHeaderCellDef></mat-header-cell>
  <mat-cell *matCellDef="let tax">
      <button (click)="selectTaxRate(tax)" class="button-success" *ngIf="tax.id!=selectedId" [disabled]="tax.id==selectedId?true:false"  [matTooltip]="'Select Tax Rate' | trans">Select
      </button>
      <button  class="button-cancel" *ngIf="tax.id==selectedId"  [matTooltip]="'Selected Tax Rate' | trans">Selected
      </button>
  </mat-cell>
</ng-container>
  <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let tax">
          <button mat-icon-button (click)="showCrupdateTaxRateModal(tax)"  [matTooltip]="'Edit Tax Rate' | trans">
              <mat-icon svgIcon="edit"></mat-icon>
          </button>
      </mat-cell>
  </ng-container>
</data-table>
