
<mat-toolbar>
  <mat-toolbar-row>
    <div class="col-8">
        <button mat-button><mat-icon class="">menu</mat-icon>Tax Rates</button>
      <span class="spacer"></span>
      <span class="spacer"></span>
      </div>

      <div class="col-4">
          <button color='accent' class="float-right" mat-raised-button   *ngIf="!(details$ | async).detailsVisible" (click)="openDetails('New Tax Rate','new',null)">
              <mat-icon class="">add</mat-icon>New Tax Rate</button>
              <button mat-button color='warn' class="float-right" *ngIf="selection.selected.length > 0 && can_delete" (click)="removeDialog()"><mat-icon class="">delete</mat-icon>Delete ({{selection.selected.length}}) selected</button>
       </div>

      </mat-toolbar-row>
</mat-toolbar>
<div class="col-12" *ngIf="data && data.length > 0">

<mat-form-field class="w-100 px-2">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Search"
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="w-100">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" (click)="openDetails('Edit Tax Rate','edit',row)">
        <mat-checkbox (click)="$event.stopPropagation();openDetails('Edit Tax Rate','edit',row)"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element" (click)="openDetails('Edit Tax Rate','edit',element)">
          <span class="text">{{element.name}}</span> </td>
    </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let element" (click)="openDetails('Edit Tax Rate','edit',element)">
              <span class="text">{{element.description}}</span> </td>
        </ng-container>

            <!-- Name Column -->
    <ng-container matColumnDef="tax_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element" (click)="openDetails('Edit Tax Rate','edit',element)">
          <span class="text">{{element.tax_type}}</span> </td>
    </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tax_code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax code </th>
              <td mat-cell *matCellDef="let element" (click)="openDetails('Edit Tax Rate','edit',element)">
                  <span class="text">{{element.tax_code}}</span> </td>
            </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
          <td mat-cell *matCellDef="let element" (click)="openDetails('Edit Tax Rate','edit',element)">
              <span class="text">{{element.percentage}} %</span> </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr [class.highlighted]="((details$ | async).sender_data?(details$ | async).sender_data.tax_rate_id==row.tax_rate_id:false)" mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<setup-no-entry-found *ngIf="data && data.length == 0" [message]="message('Tax Rate')" [subMessage]='subMessage("Tax Rate")'></setup-no-entry-found>
