<div class="ybx-sgnForm">
    <div class="ybx-signIn">
        <span class="form-load" *ngIf="v.loading">
            <mat-progress-bar class="primary-progress-bar" mode="indeterminate"></mat-progress-bar>
        </span>
        <div class="inner-box">
            <div class="justify-content-center mr-auto text-center">
                <div jsname="jjf7Ff" jscontroller="P9M9H"
                    jsaction="rcuQ6b:npT2md">
                    <div class="qZp31e" jsname="l4eHX">
                        <mat-icon svgIcon="logo" style="width:174px;
                            height:47px;">logo</mat-icon>

                    </div>
                </div>
                <div class="d-block p-2 w-100 span">Sign in</div>
                <div class="signWith">
                    <content>with {{appname}} Account</content>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
            <form [formGroup]="emailForm" (ngSubmit)="emailVerify()">
                <mat-form-field appearance="outline" class="ybx-mat
                    mat-full-wdth">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="Your email"
                        formControlName="email"
                        required>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="email.invalid && (email.dirty ||
                        email.touched)">
                        <mat-error class="text-center" *ngIf="email.errors.email &&
                            !email.errors.required">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="email.errors.required">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-error>

                </mat-form-field>

                <div class="clearfix"></div>
                <div class="row" style="margin-top:17%; float: left;">
                    <mat-error *ngIf="v.errorMsg!=''">{{v.errorMsg}}
                        <a mat-button class="mat-button pl-0"
                        (click)="openRegister()">&nbsp;&nbsp;
                        Create account with yegobox &nbsp;</a>
                    </mat-error>
                </div>

                <div class="row">
                    <table style="margin-top: 19px;">
                        <tr>
                            <td class="btn-left">

                            </td>
                            <td class="btn-right">
                                <div style="margin-top: 49.8%;">
                                    <button mat-raised-button class="btn-color
                                        float-right"
                                        *ngIf='!v.loading'
                                        (click)="emailVerify()">Next
                                    </button>
                                    <button mat-raised-button class="btn-color
                                        float-right"
                                        *ngIf='v.loading'
                                        (click)="emailVerify()" disable='true'>Next
                                        ... </button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="aCayab">
                                    <div class="Z4o1ee GyDlGb cd29Sd iiFyne
                                        qs41qe"
                                        tabindex="0" role="link"
                                        aria-label="Switch account"
                                        [matTooltip]="'Login with google'">
                                        <div class="PH9Bhd">
                                            <img
                                                src="assets/images/icons/g-google.svg"
                                                alt="" class="TrZEUc"></div>
                                        <div class="vgHGpc RRP0oc"> Login with
                                            google
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

            </form>

        </div>
    </div>

</div>
