<div class="details-list">
   <!-- Items ---------------------------------- -->

    <form [formGroup]="brandForm" (ngSubmit)="saveBrand()">
      <mat-card-content class="row">
        <p>
            <mat-form-field  appearance="outline" class="col-12">
                <mat-label>Enter brand name</mat-label>
              <input matInput placeholder="Brand name" formControlName="name" required>

              <mat-error  *ngIf="name.invalid && (name.dirty || name.touched)">
                    <mat-error *ngIf="name.errors.name && !name.errors.required">
                      Please enter a valid brand name
                    </mat-error>
                    <mat-error *ngIf="name.errors.required">
                      Brand name is <strong>required</strong>
                    </mat-error>
              </mat-error>

          </mat-form-field>
          <mat-form-field  appearance="outline" class="col-12">
              <mat-label>Description</mat-label>
              <textarea  matInput placeholder="description" formControlName="description" required></textarea>
              <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
                <mat-error *ngIf="description.errors.description && !description.errors.required">
                  Please enter a valid description
                </mat-error>
                <mat-error *ngIf="description.errors.required">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-error>

            </mat-form-field>

        </p>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" class="float-right" mat-button [disabled]="(loading | async)"> <span *ngIf="need_to_add_new">Save</span>
          <span *ngIf="!need_to_add_new">Edit</span></button>
        <button type="button" class="float-right" (click)='close()' [disabled]="(loading | async)" mat-button>Close</button>
      </mat-card-actions>
    </form>
</div>
