<mat-toolbar>
  <mat-toolbar-row>
    <div class="col-8">
      <button mat-button>
        <mat-icon class="">add </mat-icon>Add a Product
      </button>
      <span class="spacer"></span>
      <span class="spacer"></span>
    </div>
    <div class="col-4">
      <button mat-icon-button class="float-right" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <button mat-raised-button (click)="isOptional = !isOptional">
  {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
</button> -->

<mat-horizontal-stepper linear #stepper class="details-list scroll">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Product Info</ng-template>
      <mat-card-content class="fst_section-container row">
        <br />
        <div class="col-4">
          <div class="item">
            <label class="name">Name</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product name</mat-label>
              <input class="text-secondary" matInput placeholder="Name" formControlName="item" required>
              <mat-hint>Appears on till.</mat-hint>
              <mat-error *ngIf="item.invalid && (item.dirty || item.touched)">

                <mat-error *ngIf="item.errors.item && !item.errors.required">
                  Please enter a valid product name
                </mat-error>
                <mat-error *ngIf="item.errors.required">
                  Product name is <strong>required</strong>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="item">
            <label class="name">S.K.U</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter sku number</mat-label>
              <input class="text-secondary" matInput placeholder="SKU" formControlName="sku" required>
              <mat-icon matSuffix [matTooltip]="sku_tool_tips" aria-label="Stock Keeping Unit">info</mat-icon>
              <mat-error *ngIf="sku.invalid && (sku.dirty || sku.touched)">

                <mat-error *ngIf="sku.errors.sku && !sku.errors.required">
                  Please enter a valid sku name
                </mat-error>
                <mat-error *ngIf="sku.errors.required">
                  Sku number is <strong>required</strong>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="item">
            <label class="name">Barcode</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter barcode number</mat-label>
              <input class="text-secondary" matInput placeholder="Barcode" formControlName="barcode" required>
              <mat-icon matSuffix [matTooltip]="barcode_tool_tips" aria-label="Universal Product Code">info</mat-icon>
              <mat-error *ngIf="barcode.invalid && (barcode.dirty || barcode.touched)">

                <mat-error *ngIf="barcode.errors.barcode && !barcode.errors.required">
                  Please enter a valid barcode
                </mat-error>
                <mat-error *ngIf="barcode.errors.required">
                  Barcode number is <strong>required</strong>
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="col-4">
          <div class="item">
            <label class="name">Category</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product category</mat-label>
              <mat-select placeholder="Category" class="w-100" formControlName="category_id" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.category_id">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <button matSuffix mat-button color="primary" [disabled]="(details$ | async).detailsVisible" (click)="openDetails('New Category','new','app-categories','app-master',null)">
                Add New</button>
              <mat-error *ngIf="category_id.invalid && (category_id.dirty || category_id.touched)">
                <strong *ngIf="category_id.errors.required">Category is required.</strong>
              </mat-error>

            </mat-form-field>
          </div>

          <div class="item">
            <label class="name">Brand</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product brand</mat-label>
              <mat-select placeholder="Brand" class="w-100" formControlName="brand_id" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let brand of brands" [value]="brand.brand_id">
                  {{brand.name}}
                </mat-option>
              </mat-select>
              <button matSuffix mat-button color="primary" [disabled]="(details$ | async).detailsVisible" (click)="openDetails('New Brand','new','app-brand','app-master',null)">
                Add New</button>
              <mat-error *ngIf="brand_id.invalid && (brand_id.dirty || brand_id.touched)">
                <strong *ngIf="brand_id.errors.required">brand is required.</strong>
              </mat-error>

            </mat-form-field>
          </div>
          <div class="item">
            <label class="name">Tax Rate</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product tax rate</mat-label>
              <mat-select class="w-100" formControlName="tax_rate_id" required>
                <mat-option *ngFor="let taxrate of taxrates" [value]="taxrate.tax_rate_id">
                  {{taxrate.name}}
                </mat-option>
              </mat-select>
              <button matSuffix mat-button color="primary" [disabled]="(details$ | async).detailsVisible" (click)="openDetails('New Tax Rate','new','app-tax-rate','app-setup',null)">
                Add New</button>
              <mat-error *ngIf="tax_rate_id.invalid && (tax_rate_id.dirty || tax_rate_id.touched)">
                <strong *ngIf="tax_rate_id.errors.required">Tax rate is required.</strong>
              </mat-error>

            </mat-form-field>
          </div>

        </div>

        <div class="col-4">
          <div class="item">
            <label class="name">Order code</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product order code</mat-label>
              <input class="text-secondary" matInput placeholder="Order code (optional)" formControlName="product_order_code">
              <mat-hint>For reference to supplier.</mat-hint>

            </mat-form-field>
          </div>
          <div class="item">
            <label class="name">Article code</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product article code</mat-label>
              <input class="text-secondary" matInput placeholder="Article code (optional)" formControlName="article_code">
              <mat-hint>For use in accounting.</mat-hint>

            </mat-form-field>
          </div>

          <div class="item">
            <label class="name">Manufacturer</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product manufacturer</mat-label>
              <input class="text-secondary" matInput placeholder="Manufacturer (optional)" formControlName="manufacturer">
            </mat-form-field>
          </div>

          <div class="item">
            <label class="name">Description</label>
            <mat-form-field class="value" appearance="outline">
              <mat-label>Enter product description</mat-label>
              <input class="text-secondary" matInput placeholder="Description (optional)" formControlName="summary">
              <mat-hint>Appears on receipt.</mat-hint>
            </mat-form-field>
          </div>

        </div>
      </mat-card-content>

      <mat-card-actions class="card-actions m-3">
        <button mat-raised-button matStepperNext color="primary" class="m-4 float-right">Next</button>
      </mat-card-actions>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Price Setting</ng-template>
      <mat-card-content>
        <div class="row">
          <div class="col-10">
            <mat-form-field class="w-100">
              <input matInput (keyup)="applyFilter($event.target.value)" [disabled]="pricing.length == 0" placeholder="Search">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-raised-button class="mt-2" color="accent" [disabled]="(details$ | async).detailsVisible"
              (click)="openDetails('New Pricing','new','app-pricing','app-master',null)"> + Add Price Type</button>
          </div>
        </div>
        <section class="sd_section-container">


          <table formArrayName="price_setting" mat-table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name" sticky>
              <th scope="col" mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                {{element.name}}
                <mat-form-field class="hidden" style="display:none">
                  <input matInput formControlName="name" hidden required>
                  <input matInput formControlName="pricing_id" required hidden>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="cost_price_excluding_tax">
              <th scope="col" mat-header-cell *matHeaderCellDef> Cost Price (EXC TAX)
                <mat-icon class="float-left" matSuffix [matTooltip]="'Cost Price Excluding Tax'" aria-label="excluding Tax">info</mat-icon>
              </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <!-- unit quantity input field -->
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter cost price (EXC TAX)</mat-label>
                  <input matInput placeholder="Cost Price (EXC TAX)" type="number" formControlName="cost_price_excluding_tax"
                    required>

                </mat-form-field>
              </td>
            </ng-container>
            <!--  Category Column -->

            <ng-container matColumnDef="sale_price_excluding_tax">
              <th mat-header-cell *matHeaderCellDef>Sale Price (EXC TAX)
                <mat-icon class="float-left" matSuffix [matTooltip]="'Sale Price Excluding Tax. Not saved, this is only used to calculate Sale Price inc. Tax'"
                  aria-label="excluding Tax">info</mat-icon>
              </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter sale price (EXC TAX)</mat-label>
                  <input matInput placeholder="Sale Price (EXC TAX)" type="text" formControlName="sale_price_excluding_tax"
                    required>

                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="cost_price_including_tax">
              <th scope="col" mat-header-cell *matHeaderCellDef>Cost Price (INC TAX)
                <mat-icon class="float-left" matSuffix [matTooltip]="'Cost Price Including Tax. Not saved, this is only used to calculate Cost Price exc. Tax'"
                  aria-label="including Tax">info</mat-icon>
              </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter cost price (INC TAX)</mat-label>
                  <input class="text-secondary" (input)="calculateTax(getTax(tax_rate_id.value),$event.target.value,index,type='inc')"
                    matInput placeholder="Cost Price (INC TAX)" type="text" formControlName="cost_price_including_tax"
                    required>

                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="sale_price_including_tax">
              <th scope="col" mat-header-cell *matHeaderCellDef> Sale Price (INC TAX)
                <mat-icon class="float-left" matSuffix [matTooltip]="'Sale Price Including Tax.'" aria-label="including Tax">info</mat-icon>
              </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter sale price (INC TAX)</mat-label>
                  <input matInput placeholder="Sale Price (INC TAX)" type="text" formControlName="sale_price_including_tax"
                    required>

                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="margin">
              <th scope="col" mat-header-cell *matHeaderCellDef> Margin (%) </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter margin</mat-label>
                  <input matInput placeholder="Margin (%)" type="text" formControlName="margin" required>

                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="recommended_retail_price">
              <th scope="col" mat-header-cell *matHeaderCellDef>RRP
                <mat-icon class="float-left" matSuffix [matTooltip]="'Recommended Retail Price'" aria-label="RRP">info</mat-icon>
              </th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Enter RRP</mat-label>
                  <input matInput placeholder="Recommended Retail Price (RRP)" type="text" formControlName="recommended_retail_price"
                    required>

                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="is_default" stickyEnd>
              <th mat-header-cell *matHeaderCellDef>Default price</th>
              <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                <mat-form-field class="text">
                  <input class="text-secondary" matInput placeholder="Default price" type="text" formControlName="is_default"
                    required>

                </mat-form-field>

              </td>
            </ng-container>



            <tr class="sticky-thead" mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index">
            </tr>


          </table>
        </section>
      </mat-card-content>
      <mat-card-actions class="card-actions float-right m-2">
        <button mat-raised-button matStepperPrevious class="m-4">Back</button>
        <button mat-raised-button matStepperNext color="primary" class="m-4">Next</button>
      </mat-card-actions>

    </form>
  </mat-step>
  <mat-step>

    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Stock Details & Complete</ng-template>
      <mat-card-content class="fst_section-container row">
        <mat-tab-group class="w-100">
          <mat-tab label="Stock Adjustment">
            <br />
            <div class="col-6">
              <div class="item row">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Choose Branch(s)</mat-label>
                  <mat-select placeholder="Branch(s)" [formControl]="branchs" multiple required>
                    <mat-option *ngFor="let branch of branchList" [value]="branch">{{branch.name}}</mat-option>
                  </mat-select>
                  <mat-hint>The product will shared at choosen branch</mat-hint>
                  <mat-error *ngIf="branchs.invalid">
                      <strong>Please branch is required.</strong>
                    </mat-error>
                </mat-form-field>
              </div>

              <div class="item row">
                <table class="col-12">

                  <tr>
                    <td>
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Add Stock Quantity</mat-label>
                        <input class="text-secondary" matInput placeholder="Quantity" formControlName="qty" required>
                        <mat-hint>Quantity entered, will appear on every location.</mat-hint>
                        <mat-error *ngIf="qty.invalid && (qty.dirty || qty.touched)">
                            <mat-error *ngIf="qty.invalid && !qty.errors.required">
                              Please enter a valid quantity value, only number allowed
                            </mat-error>
                            <mat-error *ngIf="qty.errors.required">
                                Quantity is <strong>required</strong>
                            </mat-error>
                          </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Add Unit of Sale</mat-label>
                        <input class="text-secondary" matInput placeholder="Unit of Sale" formControlName="unit_of_sale"
                          required>
                        <mat-hint>Minimum measurement in which this product <br />is used (e.g half pints in a barrel)</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>

              <div class="item row">
                <mat-form-field class="col-12" appearance="outline">
                  <mat-label>Enter stock movement reason</mat-label>
                  <mat-select placeholder="Stock movement reason" formControlName="reason_id" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let reason of reasons" [value]="reason.reason_id">
                      {{reason.name}}
                    </mat-option>
                  </mat-select>
                  <button matSuffix mat-button color="primary" [disabled]="(details$ | async).detailsVisible" (click)="openDetailsForReasons('Add Stock Movement Reason','new',null,'stock_movements')">
                    Add New</button>
                  <mat-error *ngIf="reason_id.invalid && (reason_id.dirty || reason_id.touched)">
                    <strong *ngIf="reason_id.errors.required">Stock Movement Reason is required.</strong>
                  </mat-error>

                </mat-form-field>
              </div>
            </div>

            <div class="col-5">
                  <table>

                    <tr class="item row">
                      <td class="col-6">
                        <mat-form-field  appearance="outline">
                          <mat-label>Minimum stock value</mat-label>
                          <input class="text-secondary" matInput placeholder="Minimum stock value" formControlName="min_stock"
                            required>
                          <mat-hint>Minimum value is the stock level at which to reorder. </mat-hint>

                        </mat-form-field>
                      </td>
                      <td class="col-6">
                        <mat-form-field  appearance="outline">
                          <mat-label>Maximum stock value</mat-label>
                          <input class="text-secondary" matInput placeholder="Maximum stock value" formControlName="max_stock"
                            required>
                          <mat-hint>Maximum value is used to calculate <br />the number of products to reorder.
                          </mat-hint>
                        </mat-form-field>
                      </td>
                    </tr>


                    <tr class="item row">
                      <td  class="col-6">
                        <mat-form-field  appearance="outline">
                          <mat-label>On Order</mat-label>
                          <input class="text-secondary" matInput placeholder="On Order value" formControlName="on_order"
                            required>
                        </mat-form-field>
                      </td>
                      <td class="col-6">
                          <mat-checkbox formControlName="show_alert">Show alerts Messages</mat-checkbox>
                        </td>
                    </tr>

                    <tr>
                      <td colspan='2' style="word-wrap: break-word;">
                        For example: If the Minimum value is 2 and the Maximum value is 5,<br />when the current stock
                        drops below 2,reorder more items to bring the stock back to the maximum value.
                      </td>
                    </tr>

                  </table>

            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>

      <mat-card-actions class="card-actions float-right m-2">
        <button mat-button mat-raised-button class="m-4" matStepperPrevious>Back</button>
        <button mat-raised-button (click)="saveComplete()" color="primary" class="m-4 float-right">Save & Complete</button>
      </mat-card-actions>

    </form>
  </mat-step>
</mat-horizontal-stepper>
