<!-- <div class="container1">
  <flipper-header></flipper-header>
  <div class="contents" @insertLogin>
    <div class="card padding_0 span_4_of_6 display_flex flex_direction_column align_items_center">
      <div class="padding_400 full_width align_center">
        <h1>Login</h1>
        

        <p class="margin_bottom_100">
          
        </p><a class="c-button c-button--primary c-button--large full_width" type="button" (click)="userLogin()">Sign
          In</a>
      </div>
    </div>
  </div>
  

</div> -->

<div class="main-wrapper">
  <div class="qr_wrapper">
    <div class="left_wrapper">
      <span>To use FLipper on Desktop:</span>
      <ol>
        <li> Open Flipper on your phone </li>
        <li>Tap Menu: or Settings and Select FLipper Desktop </li>
        <li>Point your phone to this screen to capture the code. </li>

      </ol>
    </div>
    <div class="qr_image">
      <qrcode [level]="2" qrvalue="{{qrcode}}"></qrcode>
     
    </div>
</div>
</div>