<flipper-header></flipper-header>

<div class="contents" @insertLogin>
  <div class="card padding_0 span_4_of_6 display_flex flex_direction_column align_items_center">
    <div class="padding_400 full_width align_center">
      <h1>Login</h1>
      <p class="margin_bottom_100">
        New to Flipper We'll help you to <a  (click)="getStaredNewToFlipper()">get started</a>
      </p><a class="c-button c-button--primary c-button--large full_width" type="button" (click)="userLogin()">Sign
        In</a>
    </div>
  </div>
</div>
