

.contents {
    margin: 0 auto;
    padding: 8rem 2rem;
    @media only screen and (min-width: 1024px){
        width: 1024px;
    }
    
    @media only screen and (max-height: 768px), screen and (max-width: 640px){
        padding: 6rem 2rem;
    }

    .flex_direction_column {
        flex-direction: column;
    }
    .align_items_center {
        align-items: center;
    }
    .display_flex {
        display: flex;
    }
    .padding_0 {
        padding: 0;
    }
    .span_4_of_6 {
        width: 66.13%;
    }
    .card {
        background-color: #fff;
        border-radius: .25rem;
        box-shadow: 0 1px 0 rgba(0,0,0,.25);
        padding: 2rem 2rem 1rem;
        margin: 0 auto 2rem;
        position: relative;
        border: 1px solid #ddd;
        .padding_400 {
            padding: 64px;
            h1 {
                display: block;
                font-size: 2em;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                a{
                    cursor: pointer;
                    color: rgb(68, 68, 172);
                }
            }
            .margin_bottom_100 {
                margin-bottom: 16px;
            }
            .c-button--large {
                font-size: 18px;
                font-weight: 900;
                height: 44px;
                min-width: 96px;
                padding: 0 16px 3px;
            }
            .c-button--primary {
                transition: all 80ms linear;
                background: #007a5a;
                color: #fff;
                font-weight: 900;
                box-shadow: none;
            }
            .c-button, .c-button:active, .c-button:focus, .c-button:hover {
                text-decoration: none;
            }
            .c-button {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                outline: none;
                cursor: pointer;
                border: none;
                border-radius: 4px;
                align-items: center;
                position: relative;
                display: inline-flex;
                justify-content: center;
                text-align: center;
                white-space: nowrap;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: transparent;
            }
        }
        .full_width {
            width: 100%!important;
            max-width: 100%!important;
        }
        .align_center, .centered {
            text-align: center!important;
        }
    }
    .flex_direction_column {
        flex-direction: column;
    }
}