<mat-sidenav-container>
    <mat-sidenav [opened]="true" mode="side">
    
        <flipper-menu 
        [menuEntries]="entries" 
        (menuToggled)="isMenuToggled($event)" 
        (switchedBusiness)="displaySwitchedBusiness($event)" 
        (switchedBranch)="displaySwitchedBranch($event)"
        (logoutUser)="didUserLoggedOut($event)" 
        (routerClicked)="getRouterClicked($event)" 
         ></flipper-menu>
    
    </mat-sidenav>
    
    
        <mat-sidenav-content class="max-container-fliud" [class.minContainerFliud]="userToggledMenu">
    
            <router-outlet></router-outlet>
          
        </mat-sidenav-content>
    
      </mat-sidenav-container>
    