
$admin-max-left-width:278px;
$admin-min-left-width:69px;
.max-container-fliud{
    position: relative;
    float: right;
    height: 100vh;
    width: calc(100% - #{$admin-max-left-width});

}
.minContainerFliud{
    width: calc(100% - #{$admin-min-left-width})!important;
}