<div class="topheader">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="Toggle()" style="outline: 0;margin-left: 25px;font-size: 18px;">
    <img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"> Home
  </button>
      <!-- <span>flipper</span>
      <input type="text" />  -->
</div>
<mat-sidenav-container  *ngIf="authenticated" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>    
    
    <mat-nav-list class="sitenavul">
      <ul>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/home-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"><span style="font-size: 10px;">Home</span></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/settings-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"><span style="font-size: 10px;">Account & Settings</span></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
        <li><a mat-list-item href="#"><img [src]="'./assets/icons/menu-black.svg'" style="width: 28px;margin-right: 10px;" class="icon"></a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <!-- Add Content Here -->
    <flipper-notification></flipper-notification>
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="!authenticated">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
