
  <mat-tab-group class="w-100 mt-5">
    <mat-tab style="overflow: hidden;">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">help_outline</mat-icon>
        <span>All Expired</span>
      </ng-template>
      <div class="m-3">
          <app-diplay-expired-stock type="all" [url]='all_url'></app-diplay-expired-stock>
      </div>
    </mat-tab>

    <mat-tab style="overflow: hidden;">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">search</mat-icon>
        <span>By Search</span>
      </ng-template>
      <div class="m-5">
        <app-display-expired-stock-by-custom></app-display-expired-stock-by-custom>
    </div>
    </mat-tab>

    <mat-tab style="overflow: hidden;">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">schedule</mat-icon>
        <span>By Period</span>
      </ng-template>
      <div class="m-3 accordion">
        <div class="m-3">
          <mat-accordion *ngIf="expirationSetting && expirationSetting.length > 0">
            <mat-expansion-panel class="mt-4" *ngFor="let element of expirationSetting" (opened)="expandingOpened(element)"
              (closed)="expandingClosed(element)">
              <mat-expansion-panel-header (click)="expanding()" [style.color]="'#ffff'" [style.background-color]="element.color?element.color:'#1da1f2'">
                <mat-panel-title [style.color]="'#ffff'" >
                  <span class="text" [ngSwitch]="element.period">
                    <label *ngSwitchCase="'tomorrow'">Tomorrow</label>
                    <label *ngSwitchCase="'today'">Today</label>
                    <label *ngSwitchCase="'yestarday'">Yestarday</label>
                    <label *ngSwitchCase="'day'">{{element.period_value}} Day(s)</label>
                    <label *ngSwitchCase="'week'">{{element.period_value}} Week(s)</label>
                    <label *ngSwitchCase="'month'">{{element.period_value}} Month(s)</label>
                    <label *ngSwitchCase="'year'">{{element.period_value}} Year(s)</label>
                    <label *ngSwitchDefault>Now..</label>
                  </span>
                </mat-panel-title>
                <mat-panel-description [style.color]="'#ffff'" class="float-left">
                  <span>{{element.description}}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
                <app-display-expired-stock-by-period class="m-2" *ngIf="expandedId && expandedId==element.id"></app-display-expired-stock-by-period>
            </mat-expansion-panel>

          </mat-accordion>
          </div>
    </div>
    </mat-tab>
  </mat-tab-group>
