<div class="ybx-sgnForm">
    <div class="ybx-signIn">
      <span class="form-load" *ngIf="v.loading"><mat-progress-bar class="primary-progress-bar" mode="indeterminate"></mat-progress-bar></span>
      <div class="inner-box" *ngIf="!is_token_expired; else expired">
            <div class="justify-content-center mr-auto text-center">
                <div class="h3 d-block p-2 w-100">Change Password</div>
                <div class="d-block p-2 w-100"> Enter new password </div>
                <div class="clearfix"></div>
            </div>


        <form class="ybx-defaultForm" [formGroup]="form" (ngSubmit)="changePassword()">
                <mat-form-field class="ybx-mat mat-full-wdth">
                        <input class="text-secondary" matInput placeholder="Your email" formControlName="email" required>
                        <mat-hint class="text-secondary"><i>youremail@example.com</i></mat-hint>

                        <mat-error  *ngIf="email.invalid && (email.dirty || email.touched)">
                          <mat-error *ngIf="email.errors.email && !email.errors.required">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="email.errors.required">
                            Email is <strong>required</strong>
                          </mat-error>
                          </mat-error>

                    </mat-form-field>

            <mat-form-field class="ybx-mat mat-full-wdth">
                <input matInput placeholder="Enter your password" formControlName="password" required [type]="password_hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="password_hide = !password_hide">{{password_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error  *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
                <strong>Password is required </strong>
            </mat-error>
            <div class="clearfix"></div>

            <mat-form-field class="ybx-mat mat-full-wdth">
                <input matInput placeholder="Repeat your password" formControlName="password_confirmation" required [type]="password_confirmation_hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="password_confirmation_hide = !password_confirmation_hide">{{password_confirmation_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error  *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched) && password_confirmation.errors.required">
                <strong>Repeat password is required </strong>
            </mat-error>
            <div class="clearfix"></div>

            <mat-error  *ngIf="does_match_password"> Password does not match </mat-error>
            <mat-error  *ngIf="error_pass!=''">{{error_pass}} </mat-error>
            <mat-error  *ngIf="error_email!=''">{{error_email}} </mat-error>
            <mat-error  *ngIf="error_token!=''">{{error_token}} </mat-error>

            <div class="ybx-mat">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button class="mat-primary-btn btn-block" *ngIf='!loading' type="submit">change Password </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template #expired>
        <div class="inner-box">
            <div class="row">
                <div class="col-12">
                    <div class="justify-content-center mr-auto text-center">
                        <div class="h3 d-block p-2 w-100 text-danger">Ooops! </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <div class="alert alert-danger text-center">
                        The link you provided was expired, <br /> You can
                        <a routerLink="/sign-in" routerLinkActive="active">generate reset password link</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12">
                    <div class="or"></div>
                    <div class="ggl-button text-center">
                        <div >
                        <button mat-button class="mat-default-btn btn-sign-ggle" type="button">
                            <img class="google-icon" src="assets/images/icons/g-google.svg" alt="" />
                            Sign with Google </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>
</div>
