<div *ngIf="action=='add'">
    <mat-card class="card">
        <mat-card-header>
            <span mat-button><mat-icon class="icon">add</mat-icon>{{link}}</span>
            <button mat-button (click)="close()">Close</button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <form [formGroup]="cateogryForm" (ngSubmit)="saveCategory()"  *ngIf="link=='Categories'">
        <mat-card-content>
          <p>
              <mat-form-field class="ybx-mat mat-full-wdth">
                  <input class="text-secondary" matInput placeholder="Category name" formControlName="name" required>

                  <mat-error  *ngIf="name.invalid && (name.dirty || name.touched)">
                        <mat-error *ngIf="name.errors.name && !name.errors.required">
                          Please enter a valid category
                        </mat-error>
                        <mat-error *ngIf="name.errors.required">
                            Category is <strong>required</strong>
                        </mat-error>
                  </mat-error>

              </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button [disabled]="(loading | async)">Save</button>
        </mat-card-actions>
        </form>
<!-- //Insurances -->
<div *ngIf="link=='Insurances'" >
  <div *ngIf="insurance_data.length > 0;else notDataFounds">
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="logo_url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Logo </th>
          <td mat-cell *matCellDef="let element"><img [src]="element.logo_url" style="width:48px" /> </td>
        </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
          <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Adress </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>

</mat-card-content>
<mat-card-actions>
<button type="button" mat-button *ngIf="selection.selected.length > 0" (click)="attachInsuranceToBusiness()" [disabled]="(loading | async)">Save</button>
</mat-card-actions>
</div>
<ng-template #notDataFounds>
    can't add insurance coz not found!
</ng-template>
</div>



  <!-- Items ---------------------------------- -->

        <form [formGroup]="itemForm" (ngSubmit)="saveItem()"  *ngIf="link=='Items'">
          <mat-card-content>
            <p>
                <mat-form-field class="ybx-mat mat-full-wdth">
                    <input class="text-secondary" matInput placeholder="Item name" formControlName="item" required>

                    <mat-error  *ngIf="item.invalid && (item.dirty || item.touched)">
                          <mat-error *ngIf="item.errors.item && !item.errors.required">
                            Please enter a valid item name
                          </mat-error>
                          <mat-error *ngIf="item.errors.required">
                              Item name is <strong>required</strong>
                          </mat-error>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="ybx-mat mat-full-wdth">
                  <input class="text-secondary" matInput placeholder="Item sku" formControlName="sku" required>

                  <mat-error  *ngIf="sku.invalid && (sku.dirty || sku.touched)">
                        <mat-error *ngIf="sku.errors.sku && !sku.errors.required">
                          Please enter a valid sku
                        </mat-error>
                        <mat-error *ngIf="sku.errors.required">
                            Item sku is <strong>required</strong>
                        </mat-error>
                  </mat-error>

              </mat-form-field>

              <mat-form-field class="ybx-mat mat-full-wdth">
                <input class="text-secondary" matInput placeholder="Purchase price" formControlName="price" required>

                <mat-error  *ngIf="price.invalid && (price.dirty || price.touched)">
                  <mat-error *ngIf="price.invalid && !price.errors.required">
                    Please enter a valid purchase price, only number allowed
                  </mat-error>
                      <mat-error *ngIf="price.errors.required">
                        Purchase price is <strong>required</strong>
                      </mat-error>
                </mat-error>

            </mat-form-field>


            <mat-form-field class="ybx-mat mat-full-wdth">
              <input class="text-secondary" matInput placeholder="Sales price" formControlName="sale_price" required>

              <mat-error  *ngIf="sale_price.invalid && (sale_price.dirty || sale_price.touched)">
                    <mat-error *ngIf="sale_price.invalid && !sale_price.errors.required">
                      Please enter a valid sales price, only number allowed
                    </mat-error>
                    <mat-error *ngIf="sale_price.errors.required">
                      Sales price is <strong>required</strong>
                    </mat-error>
              </mat-error>

          </mat-form-field>

        <mat-form-field class="ybx-mat mat-full-wdth">
          <mat-select placeholder="Choose Currency" formControlName="currency" required>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
          </mat-select>
          <mat-error *ngIf="currency.invalid && (currency.dirty || currency.touched)">
            <strong *ngIf="currency.errors.required">Currency is required.</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Choose Item Category" formControlName="category_id" required>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.category_id">
                       {{category.name}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="category_id.invalid && (category_id.dirty || category_id.touched)">
            <strong *ngIf="category_id.errors.required">Category is required.</strong>
          </mat-error>

        </mat-form-field>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" mat-button [disabled]="(loading | async)">Save</button>
          </mat-card-actions>
          </form>

      </mat-card>
</div>
