<div class="details-list">
   <!-- Items ---------------------------------- -->

   <form [formGroup]="reasonForm" (ngSubmit)="saveReason()">
      <mat-card-content class="row">
          <mat-form-field  appearance="outline" class="col-12">
              <mat-label>Enter name</mat-label>
            <input  matInput placeholder="Reason" formControlName="name" required>
              <mat-error  *ngIf="name.invalid && (name.dirty || name.touched)">
                <mat-error *ngIf="name.errors.name && !name.errors.required">
                  Please enter a valid reason name
                </mat-error>
                <mat-error *ngIf="name.errors.required">
                  Reason name is <strong>required</strong>
                </mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field  appearance="outline" class="col-12" *ngIf="reason=='discount'">
              <mat-label>Enter Discount value</mat-label>
            <input  matInput placeholder="Discount value" formControlName="discount_value" required>
            <mat-error *ngIf="discount_value.invalid && (discount_value.dirty || discount_value.touched)">
              <mat-error *ngIf="discount_value.invalid && !discount_value.errors.required">
                Please enter a valid discount value, only number allowed
              </mat-error>
              <mat-error *ngIf="discount_value.errors.required">
                Discount value is <strong>required</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>

          <div class="ybx-mat mat-full-wdth"  *ngIf="reason=='refund'">
            <mat-checkbox formControlName="return_to_stock">Return to stock</mat-checkbox>
          </div>


              <mat-form-field  appearance="outline" class="col-12" *ngIf="reason=='stock_movements'">
                  <mat-label>Choose action</mat-label>
            <mat-select placeholder="Choose action" formControlName="stock_movements_status" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let status of stock_reason_status" [value]="status">{{status}}</mat-option>
            </mat-select>
            <mat-error *ngIf="stock_movements_status.invalid && (stock_movements_status.dirty || stock_movements_status.touched)">
              <strong *ngIf="stock_movements_status.errors.required">Action is required.</strong>
            </mat-error>
          </mat-form-field>


          <mat-form-field  appearance="outline" class="col-12">
              <mat-label>Description</mat-label>
                <textarea  matInput placeholder="Description (optional)" formControlName="description"></textarea>
            </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button type="submit" class="float-right" mat-button [disabled]="(loading | async)"> <span *ngIf="need_to_add_new">Save</span>
          <span *ngIf="!need_to_add_new">Edit</span></button>
        <button type="button" class="float-right" (click)='close()' [disabled]="(loading | async)" mat-button>Close</button>
      </mat-card-actions>
    </form>
</div>


