<div class="modal-header">
    <h2 mat-dialog-title trans>{{status}} </h2>
    <button type="button" mat-icon-button (click)="close()" class="close-button" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</div>



<form [formGroup]="insuranceForm" *ngIf="status=='Insurances'" (ngSubmit)="saveOrderInsurence()">
<mat-dialog-content class="many-inputs">
  <h6>Choose customer insurance</h6>

  <mat-radio-group *ngIf="insurances.length > 0" formControlName="insurance_id">
      <mat-radio-button class="col-12"  *ngFor="let opt of insurances" [value]="opt.insurance_id"><b>{{opt.name}}</b></mat-radio-button>
  </mat-radio-group>
  <br />
  <mat-divider></mat-divider>
</mat-dialog-content>
  <mat-dialog-actions class="float-right">
  <button type="submit" mat-raised-button color="primary" class="submit-button"  [disabled]="loading | async" trans>Submit</button>
  </mat-dialog-actions>
</form>



    <mat-dialog-content class="many-inputs" *ngIf="status=='Quantity'">
        <br />
        <div class="row">

          <div class="col-7">
            <button type="button" style="font-size:25px;font-weight: 500" mat-button class="cancel-button"  trans (click)="increseDescrise('+')"><mat-icon>add</mat-icon></button>
            <button type="button" style="font-size:25px;font-weight: 500" mat-button class="cancel-button"  trans (click)="increseDescrise('-')"><mat-icon>remove</mat-icon></button>
          </div>
            <div class="col-5 text-right" style="font-size:25px;font-weight: 500">{{cart_item.qty}}</div>
        </div>
        <br />
            <mat-grid-list cols="3" rowHeight="3:2">
                <mat-grid-tile (click)="displays('1')">1</mat-grid-tile>
                <mat-grid-tile (click)="displays('2')">2</mat-grid-tile>
                <mat-grid-tile (click)="displays('3')">3</mat-grid-tile>

                <mat-grid-tile (click)="displays('4')">4</mat-grid-tile>
                <mat-grid-tile (click)="displays('5')">5</mat-grid-tile>
                <mat-grid-tile (click)="displays('6')">6</mat-grid-tile>

                <mat-grid-tile (click)="displays('7')">7</mat-grid-tile>
                <mat-grid-tile (click)="displays('8')">8</mat-grid-tile>
                <mat-grid-tile (click)="displays('9')">9</mat-grid-tile>

                <mat-grid-tile (click)="displays('.')">.</mat-grid-tile>
                <mat-grid-tile (click)="displays('0')">0</mat-grid-tile>
                <mat-grid-tile (click)="displays('x')"><mat-icon>backspace</mat-icon></mat-grid-tile>
              </mat-grid-list>

      </mat-dialog-content>

      <mat-dialog-content class="many-inputs" *ngIf="status=='Note'">
          <mat-form-field class="w-100">
              <textarea class="col-12" matInput placeholder="Write note!" (input)="cart_item.note=$event.target.value"></textarea>
            </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-content class="many-inputs" *ngIf="status=='Discount'">
          <br />
          <div class="row">

            <div class="col-7">
              <button type="button" style="font-size:25px;font-weight: 500" mat-button class="cancel-button"  trans (click)="increseDescrise('+')"><mat-icon>add</mat-icon></button>
              <button type="button" style="font-size:25px;font-weight: 500" mat-button class="cancel-button"  trans (click)="increseDescrise('-')"><mat-icon>remove</mat-icon></button>
            </div>
              <div class="col-5 text-right" style="font-size:25px;font-weight: 500">{{cart_item.discount}} % </div>
          </div>
          <br />
              <mat-grid-list cols="3" rowHeight="3:2">
                  <mat-grid-tile (click)="displays('1')">1</mat-grid-tile>
                  <mat-grid-tile (click)="displays('2')">2</mat-grid-tile>
                  <mat-grid-tile (click)="displays('3')">3</mat-grid-tile>

                  <mat-grid-tile (click)="displays('4')">4</mat-grid-tile>
                  <mat-grid-tile (click)="displays('5')">5</mat-grid-tile>
                  <mat-grid-tile (click)="displays('6')">6</mat-grid-tile>

                  <mat-grid-tile (click)="displays('7')">7</mat-grid-tile>
                  <mat-grid-tile (click)="displays('8')">8</mat-grid-tile>
                  <mat-grid-tile (click)="displays('9')">9</mat-grid-tile>

                  <mat-grid-tile (click)="displays('.')">.</mat-grid-tile>
                  <mat-grid-tile (click)="displays('0')">0</mat-grid-tile>
                  <mat-grid-tile (click)="displays('x')"><mat-icon>backspace</mat-icon></mat-grid-tile>
                </mat-grid-list>

        </mat-dialog-content>
  <div *ngIf="status!=='Insurances'">
    <br />
    <mat-divider></mat-divider>

    <mat-dialog-actions class="float-right">
        <button (click)="close()" type="button" mat-button class="cancel-button" trans [disabled]="loading | async">Cancel</button>
        <button type="button" (click)="update(cart_item,'update-qty')" *ngIf="status=='Quantity'" mat-raised-button color="primary" class="submit-button"  [disabled]="loading | async" trans>Update</button>
        <button type="button" (click)="update(cart_item,'discount')" *ngIf="status=='Discount'" mat-raised-button color="primary" class="submit-button"  [disabled]="loading | async" trans>Update</button>
        <button type="button" (click)="update(cart_item,'note')" *ngIf="status=='Note'" mat-raised-button color="primary" class="submit-button"  [disabled]="loading | async" trans>Update</button>
    </mat-dialog-actions>
    </div>
