.w-100{
  height: 100% !important;
}

.card{
  padding: 0;
  margin: 0;
  .card-footer{
    height: 40%;
  }
  .card-body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: auto;
  }
}
@import "../../app_sass/variables";

.no-results-message {
  margin-top:8.6%;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-weight: 300;
  color: #43484d;

  .icon {
    width: 150px;
    height: 150px;
    fill: currentColor;
    margin-top: 25px;
  }

  .main {
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
  }
  .main:first-letter {text-transform: uppercase}

  .secondary {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
  }
}

table {
  width: 100%;

  tr.detail-row {
    height: 0;
  }

  // tr.example-element-row:not(.example-expanded-row):hover {
  //   background: #f5f5f5;
  // }


  .row-highlighted {
    background: #03a9f4;
    color: #fff!important;
    font-weight: 500!important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;

  }


  .element-row td {
    width: 30.2%;
    border-bottom-width: 0;
    text-align: center;
  }
  .detail-row{
    width: 100%;
    padding: 0px;
    margin: 0;
  }
  .element-detail {
    width: 100%;
    padding: 0px;
    margin: 0;

  }

  .button-row button{
    width: 100%;
    display: inline-block;
  }
  .btn-border{
    border: 1px solid white;
  }

}

.grid-divider {
  overflow-x: hidden; //quickfix to hide divider on left side
  position: relative;
}

.grid-divider > [class*="col-"]:nth-child(n + 2):after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
}



