<header id="header" class="header-content">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
          Flipper App
        </div>
        
    </div>
  </nav>
</header>

<section id="section" class="section-content">
  <mat-tab-group class="w-100">
      <mat-tab label="Dashboard">
        Dashboard
      </mat-tab>

      <mat-tab label="Pos">
         <app-sessions></app-sessions>
      </mat-tab>

      <mat-tab label="Master">
        <app-master></app-master>
      </mat-tab>

      <mat-tab label="Stock">
          <app-stock></app-stock>
      </mat-tab>

      <mat-tab label="Sales">
        Sales
      </mat-tab>

      <mat-tab label="Reports">
          Reports
      </mat-tab>
  </mat-tab-group>
</section>

