@import "../app_sass/variables";
$admin-main-left-width:300px!default;
$blue:rgb(3, 155, 229);;
.app-admin{
  height: 100%;
  background-color: $admin-background-color;
  width:100%;
  position:fixed;top:2rem;left:0;right:0;bottom:0;
  overflow:hidden!important;
  // border-top: solid 1.5px $site-selected-item-bg-color;


  .main-left-column {
    display: flex;
    flex-direction: column;
    width: $admin-main-left-width;
    flex: 0 0 $admin-main-left-width;
    height: 100%;
    line-height: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    -webkit-user-drag: none;
    //border-right: solid 1px $site-selected-item-bg-color;
    color: $site-text-color-400;
    overflow: hidden!important;;
    border: none!important;

    material-navbar {
      margin-top: 2px;
      width: 100%;
    }
   

   

.user:after,  .user:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 4px;
  height: 1px;
  width: calc(100% - 20px);
  background-color: #ffff;;
}
.sidebar-wrapper {
  margin-top: 1px;
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 100%;
  z-index: 4;
  padding-bottom: 100px;

  logged-in-user-widget {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
    margin-left: 20px;
  }
}


.user {
  padding-bottom: 20px;
  margin: 20px auto 0;
  position: relative;
}

    .active {
      color: $site-primary-color-100;
      background-color: $site-selected-item-bg-color;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      .text {
        font-weight: 500!important;
      }

      &:not(.active):not(.drag-over):hover {
        background-color: $site-bg-color-200;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
     .main-menu-items {
      width: 100%;
    }

   
  }
  .mat-sidenav-container {
    width: 100%;
     height:100%;
     scroll-behavior: smooth;
    .main-content-inner {
      scroll-behavior: smooth;
    height: 100%;
    position:absolute;
    bottom:1rem;;
    overflow: hidden!important;
      overflow:hidden;
      flex: 1 1 auto;
      width: calc(100% - #{$admin-main-left-width});
      background-color:$site-bg-color-100;
      line-height: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: auto;
      -webkit-user-drag: none;
      float: right;
    }
    .isLeftSideClosed{
      scroll-behavior: smooth;
    height: 100%;
    position:absolute;
    bottom:1rem;;
    overflow: hidden!important;
      overflow:hidden;
      flex: 1 1 auto;
      width: 100%;
      background-color:$site-bg-color-100;
      line-height: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: auto;
      -webkit-user-drag: none;
      float: right;
    }
  }
  
  .fullmaterialnavbar {
    width: 100%;
    position:fixed;top:0;bottom:0;
    box-shadow: none;
    float:right;
    border-bottom: 1px solid $site-border-color-200;
  }

  

}
