<div class="pos">
  <material-navbar class="material-navbar"  position="topbar">
             <pos-search-bar></pos-search-bar>
  </material-navbar>
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav [opened]="true" [mode]="isMobile ? 'over' : 'side'" position="end" class="right-sidebar">
      <app-cart-item class="app-cart-item"></app-cart-item>
    </mat-sidenav>
    <mat-sidenav-content >
        <div class="content-inner">
            <div class="loading-overlay-container" posInfiniteScroll>
                <router-outlet></router-outlet>
            </div>
            <pos-list-item-header></pos-list-item-header>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
