@import "../../app_sass/variables";
customer-list{
  display: none;
}
.pos{
  height: 100%;
  background-color: #0175a8;

  .mat-sidenav-container {
    width: 100%;
    height: calc(100% - #{$admin-nav-height+1});


    .right-sidebar {
      width: 460px;
      min-width: 350px;
      flex: 0 0 350px;
      padding: 0;
      margin: 0;
      border-left: 1px solid $site-border-color-200;
      background-color: $site-bg-color-100;
      color: $site-text-color-400;
    }

    .content-inner {
      flex: 1 1 auto;
      overflow: auto;
      background-color: #0175a8;
      // box-shadow: $admin-card-box-shadow;
      line-height: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
