<mat-toolbar color='accent'>
    <mat-toolbar-row class="header">
        <div class="col-8">

            <button mat-button class="text-center text-uppercase" (click)="homeDir()">HOME</button>

            <mat-icon class="mat-icon" *ngIf="is_categry_clicked && (pos$ | async).panel_content=='home'">
                chevron_right </mat-icon>
            <button mat-button class="text-uppercase" *ngIf="is_categry_clicked && (pos$ | async).panel_content=='home'">
                {{category_selected.name}}
            </button>

            <span class="spacer"></span>
            <span class="spacer"></span>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
<div *ngIf="pos$ && categories">
    <div *ngIf="(pos$ | async).panel_content=='home'">
        <div class="row m-3" *ngIf="!is_categry_clicked && categories.length > 0">
            <mat-card *ngFor="let category of categories" class="col-2  p-4 m-2 text-center text-uppercase mat-card"
                (click)="categoriesClicked(category)">{{category.name}}</mat-card>
        </div>

        <div class="row m-1" *ngIf="is_categry_clicked  && currently_stocks.length > 0">
            <mat-card *ngFor="let stock of currently_stocks" class="col-3  m-2 mat-card" (click)=" addItemToCart(stock)">
                <span class="text-left text-secondary">{{stock.name.length >
                    18?stock.name.substring(0,17)+'...':stock.name}} </span>
                <div class="clearfix"></div>

                <small class="row row-divided">
                    <div class="text-left col-6 column-one">
                        {{stock.item.currency}} {{stock.item.unit_sale}}
                    </div>
                    <div class="vertical-divider"></div>
                    <div class="text-right col-6 column-two">
                        {{stock.available_stock_qty}} Qty
                    </div>
                </small>

            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="pos$">
    <mat-card class="m-4 panel-center" *ngIf="(pos$ | async).panel_content!=='home'">
        <div *ngIf="(pos$ | async).panel_content=='customers'">
            customer

        </div>
        <app-orders *ngIf="(pos$ | async).panel_content=='orders'"></app-orders>
        <div *ngIf="(pos$ | async).panel_content=='insurances'">
            insurances
        </div>
    </mat-card>
</div>