@import "../../app_sass/variables";
@import "../../app_sass/modal.scss";

.mat-card {
  cursor: pointer;
}
.mat-icon{
margin-top:-3%
}
small {
  font-size: smaller;
}



.panel-center{
  background: #fff;
}
