<form class="example-form" [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Full name" formControlName="full_name">
  </mat-form-field>
  <mat-form-field style="margin-left:4px;">
    <input matInput placeholder="Phone number" formControlName="phone">
  </mat-form-field>
  <mat-form-field style="margin-left:4px;">
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field><br>

  <button mat-raised-button color="accent" style="float:right;" [disabled]="!formValid" (click)="addCustomer()">Add
    Customer</button>

</form>
<!-- <button mat-raised-button color="accent" style="float:right;"  (click)="saveCustomer()">Save</button> -->

