
<ng-container  *ngIf="details$ | async as details" [ngSwitch]="details.component">
    <app-item-model *ngSwitchCase="'app-items'"></app-item-model>
    <app-category-model *ngSwitchCase="'app-categories'"></app-category-model>
    <app-insurance-model *ngSwitchCase="'app-insurances'"></app-insurance-model>
    <app-pricing-model *ngSwitchCase="'app-pricing'"></app-pricing-model>
    <app-brand-model *ngSwitchCase="'app-brand'"></app-brand-model>
    <ng-template *ngSwitchDefault>
        <div class="nothing-selected">
            <div class="text" trans>No Action Made.</div>
        </div>
    </ng-template>
</ng-container>

