@import "~@angular/material/theming";
@import "../../../../app_sass/variables";
// variables
// =========================
$colorDefault: grey;
$colorPrimary: #1a73e8;

$defaultSize: 14px;

// mixins
// =========================

@mixin defaultFormBoxShadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
@mixin defaultFormBorderRadius {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.clearfix {
  width: 100%;
  padding: 2% 0px;
  margin: 0;
}
.ybx-mat {
  position: relative;
}

.or {
  position: relative;
  margin-bottom: 15px;
  &::before {
    content: "or";
    background-color: lighten($colorDefault, 100%);
    color: rgb(151, 160, 175);
    display: block;
    font-size: 11px;
    line-height: 1;
    margin-top: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.ybx-sgnForm {
  width: 100%;
  margin-top: 3%;
  &:before {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: "";
    display: block;
    height: 64px;
  }
}

.ybx-signIn {
  display: block;
  margin: 0 auto;
  height: auto;
  min-height: 0;
  @include defaultFormBorderRadius;
  @include defaultFormBoxShadow;

  .inner-box {
    padding: 40px;
    overflow: hidden;
  }
  .form-load {
    .primary-progress-bar {
      background-color: $colorPrimary !important;
      @include defaultFormBorderRadius;
      @include defaultFormBoxShadow;
    }
  }
  .span {
    font-family: "Google Sans", arial, sans-serif;
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
  }
  .signWith {
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 0;
    padding-top: 8px;
  }
  .mat-form-field-infix {
    flex-shrink: 1;
    background-color: transparent;
  }
}

mat-form-field.mat-form-field {
  border: none;
  display: block;
  font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  height: 24px;
  line-height: 24px;
  margin-top: 13%;
  outline: none;
  padding: 0;
  z-index: 0;
}

// Forms
// ==========================

.ybx-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.mat-full-wdth {
  margin-top: 4%;
  width: 100%;
}
.ybx-search {
  position: relative;
  display: flex;
  align-content: stretch;
  min-width: 100%;
}
.ybx-header-profile {
  min-width: 200px;
  float: right;
}

//Buttons
// ===============

button {
  &:hover,
  &:focus {
    outline: none;
    -webkit-outline: none;
  }
}
.mat-primary-btn {
  background-color: $colorPrimary !important;
  color: lighten($colorDefault, 100%) !important;
}
.mat-default-btn {
  background-color: lighten($colorDefault, 100%) !important;
  color: $colorPrimary !important;
}

.button-row {
  a.mat-button {
    color: $colorPrimary;
    font-weight: 500;

    &:hover {
      background: none !important;
      text-decoration: none !important;
    }
  }
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
  table {
    width: 100%;
    tr > td.btn-left {
      float: left;
      margin-top: 8%;
    }
    tr > td.btn-right {
      margin-top: 18%;
      float: right;
      top: 40%;
    }
  }
}
.btn-sign-ggle {
  color: darken($colorDefault, 5%) !important;
  border: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  font-weight: bold;
  font-size: $defaultSize;
  padding: 10px 35px;
  .google-icon {
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
  }
}

// Images
// ===============================

.resetbox-img {
  position: relative;
  margin-bottom: 15px;
  img {
    height: 100px;
    margin: 15px auto;
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .ybx-signIn {
    max-width: 100% !important;
    margin-top: 0px;
    box-shadow: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .ybx-signIn {
    max-width: 100% !important;
    margin-top: 0px;
    box-shadow: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .ybx-signIn {
    max-width: 450px !important;
    height: auto;
    min-height: 500px;
  }
  .ybx-signUp {
    max-width: 450px !important;
    height: auto;
    min-height: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ybx-signIn {
    max-width: 450px !important;
    height: auto;
    min-height: 500px;
  }
  .ybx-signUp {
    max-width: 550px !important;
    height: auto;
    min-height: 500px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .ybx-signIn {
    max-width: 450px !important;
    height: auto;
    min-height: 500px;
  }
  .ybx-signUp {
    max-width: 550px !important;
  }
}

.aCayab {
  height: 32px;
  margin-top: 8px;
}
.Z4o1ee.qs41qe {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  position: relative;
  top: 1px;
}
.GyDlGb {
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding: 5px 7px 5px 5px;
}
.Z4o1ee {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  max-width: 100%;
}
.PH9Bhd {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 20px;
  margin-right: 8px;
  img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 20px;
    width: 20px;
  }
  svg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 20px;
    width: 20px;
  }
}
.user-mail {
  overflow: hidden;
  text-overflow: ellipsis;
}

.RRP0oc {
  direction: ltr;
  text-align: left;
}
.byb8te {
  margin-left: 4px;
}
mat-error.mat-error {
  font-size: 14px;
}
.btn-color {
  background: #1a73e8;
  color: #fff;
  border-radius: 4px;
  text-transform: none;
  font-family: "Google Sans", arial, sans-serif;
  font-size: inherit;
  letter-spacing: 0.25px;
  font-weight: 500;
  height: 36px;
}
