<!-- <loading-indicator class="overlay" [isVisible]="v.loading"></loading-indicator> -->
<div class="ybx-sgnForm">
    <div class="ybx-signIn">
      <span class="form-load" *ngIf="v.loading"><mat-progress-bar class="primary-progress-bar" mode="indeterminate"></mat-progress-bar></span>
       <div class="inner-box">
              <div class="justify-content-center mr-auto text-center">
                  <div class="h3 d-block p-2 w-100">Welcome</div>
                  <div class="d-block p-2 w-100">{{user.email}}</div>
                  <div class="clearfix"></div>
              </div>
            <div class="clearfix"></div>
            <form class="ybx-defaultForm" [formGroup]="form" (ngSubmit)="login()">
                    <div class="clearfix"></div>
                    <div class="col-12">
                            <mat-form-field class="ybx-mat mat-full-wdth">
                              <input matInput placeholder="Password" [type]="password_hide ? 'password' : 'text'" formControlName="password" required>
                              <mat-icon matSuffix (click)="password_hide = !password_hide">{{password_hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                  <strong>Password is required.</strong>
                              </mat-error>
                            </mat-form-field>
                          <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <mat-error *ngIf="v.errors.general">{{v.errors.general}}</mat-error>
                    <mat-error class="error email-error" *ngIf="v.errors.email">{{v.errors.email}}</mat-error>

                <div class="ybx-mat">
                  <div class="clearfix"></div>
                  <div class="row">
                      <div class="col-6 button-row">

                            <a mat-button class="mat-button pl-0" (click)="resetPassword()">Forget password</a>
                      </div>
                      <div class="col-6 order-6">
                          <button mat-raised-button class="mat-primary-btn float-right" *ngIf='!v.loading' type="submit">Next </button>
                          <button mat-raised-button class="mat-primary-btn float-right" *ngIf='v.loading' [disabled]="true">Next ... </button>
                      </div>
                  </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
      </div>
</div>
