<div class="modal-header">
  <h2 class="modal-title" mat-dialog-title trans>Invoice Customization</h2>
  <button type="button" (click)="close()" mat-icon-button class="close-button no-style icon-button">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</div>
<div class="row" style="overflow: auto; max-height:500px;">
          <div class="col-4">
            <h2 class="modal-title m-3" mat-dialog-title trans>Edit Invoice</h2>

                <form autocomplete="off" [formGroup]="customizeForm" class="mt-3" (ngSubmit)="confirm()">
                  <mat-card-content class="mat-dialog-content row">
                      <mat-form-field class="col-12 m-2" appearance="outline">
                          <mat-label>Choose Invoice Type(s)</mat-label>
                          <mat-select placeholder="Invoice Type(s)" [formControl]="invoiceTypes" multiple (selectionChange)="updatedInvoiceTypes()">
                            <mat-option *ngFor="let customer_type of customerTypes" [value]="customer_type">{{customer_type.name}}</mat-option>
                          </mat-select>
                          <mat-hint>Means that invoice will be belongs to choosen invoice types</mat-hint>

                        </mat-form-field><br />
                        <mat-form-field appearance="outline" class="w-100 col-12" *ngIf="customizeForm.value.invoiceTypes!=null">
                            <mat-label>Customer Type Name</mat-label>
                            <input matInput placeholder="Customer Type Name" formControlName="customer_type_name" (input)="updateModel()" required>
                            <mat-hint ><i>It should be insurance name(Rssb) or the customer type name(Bronzen customer)</i></mat-hint>
                            <mat-error *ngIf="customer_type_name.invalid && (customer_type_name.dirty || customer_type_name.touched)">
                                <mat-error *ngIf="customer_type_name.errors.required">
                                    customer type name is <strong>required</strong>
                                </mat-error>
                              </mat-error>
                          </mat-form-field><br />
                      <mat-divider></mat-divider>
                    <h3 class="modal-title m-4" mat-dialog-title trans>Invoice contact info settings</h3>

                    <div class="w-100 col-12"  (click)="uploadLogoModel()" style="cursor: pointer;">
                      <img [src]="customizeForm.value.logo" class="img-responsive" style="width:128px" *ngIf="customizeForm.value.logo" />
                      <div class="caption">Upload Logo</div>
                    </div>

                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Enter company name</mat-label>
                      <input matInput placeholder="Company Name" formControlName="company_name" (input)="updateModel()" required>

                      <mat-error *ngIf="company_name.invalid && (company_name.dirty || company_name.touched)">
                        <mat-error *ngIf="company_name.errors.required">
                          Business/Company name is <strong>required</strong>
                        </mat-error>
                      </mat-error>

                    </mat-form-field><br />

                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Enter company address</mat-label>
                      <input matInput placeholder="Company address" formControlName="address" (input)="updateModel()" required>

                      <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                        <mat-error *ngIf="address.errors.required">
                          Business/Company address is <strong>required</strong>
                        </mat-error>
                      </mat-error>

                    </mat-form-field><br />

                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Enter company contact</mat-label>
                      <input matInput placeholder="Company contact" formControlName="contact" (input)="updateModel()" required>

                      <mat-error *ngIf="contact.invalid && (contact.dirty || contact.touched)">
                        <mat-error *ngIf="contact.errors.required">
                          Business/Company contact is <strong>required</strong>
                        </mat-error>
                      </mat-error>

                    </mat-form-field><br />

                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Enter company tax number</mat-label>
                      <input matInput placeholder="Company tax number" formControlName="tax_number" (input)="updateModel()">

                    </mat-form-field><br />
                    <h3 class="modal-title m-4" mat-dialog-title trans>Invoice Customer settings</h3>

                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Customer No</mat-label>
                      <input matInput placeholder="Rename Customer No" formControlName="customer_number" (input)="updateModel()">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Customer Name</mat-label>
                      <input matInput placeholder="Rename Customer Name" formControlName="customer_name" (input)="updateModel()">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Customer Birth Date</mat-label>
                      <input matInput placeholder="Rename Customer Birth Date" formControlName="customer_dob">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Customer Beneficiary</mat-label>
                      <input matInput placeholder="Rename Customer Beneficiary" formControlName="beneficiary">

                    </mat-form-field><br />


                    <h3 class="modal-title m-4" mat-dialog-title trans>Invoice settings</h3>
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Default title</mat-label>
                      <input matInput placeholder="Default title" formControlName="default_title" required>

                      <mat-error *ngIf="default_title.invalid && (default_title.dirty || default_title.touched)">
                        <mat-error *ngIf="default_title.errors.required">
                          Default title is <strong>required</strong>
                        </mat-error>
                      </mat-error>
                      <mat-hint ><i>The default title for all invoices. You can change this on each invoice.</i></mat-hint>
                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Default subheading</mat-label>
                      <input matInput placeholder="Default subheading" formControlName="default_sub_title" >
                      <mat-hint ><i>This will be displayed below the title of each invoice.</i></mat-hint>
                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Default footer</mat-label>
                      <input matInput placeholder="Default footer" formControlName="default_footer" >
                      <mat-hint ><i>This will be displayed at the bottom of each invoice.</i></mat-hint>
                    </mat-form-field><br />

                    <mat-form-field  appearance="outline" class="w-100 col-12">
                      <mat-label>Choose Font Size</mat-label>
                    <mat-select placeholder="Choose Font Size" formControlName="font_size">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let font_size of font_sizes" [value]="font_size.value">{{font_size.valueName}}</mat-option>
                    </mat-select>
                  </mat-form-field><br />
                  <mat-form-field  appearance="outline" class="w-100 col-12">
                    <mat-label>Choose Color</mat-label>
                  <mat-select placeholder="Choose Color" formControlName="color">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let color of colors" [value]="color.value" [style.color]="'#ffff'" [style.background-color]="color.value">{{color.valueName}}</mat-option>
                  </mat-select>
                </mat-form-field><br />


                    <h3 class="modal-title m-4" mat-dialog-title trans>Invoice column settings</h3>
                    <label class="modal-title m-4" id="radio-group-label">Edit the titles of the columns on your invoices:</label>
                    <table class="ml-4 w-100 col-12">
                        <tr>
                            <th>Code</th><td>
                                <mat-radio-group
                                  aria-labelledby="radio-group-label"
                                  class="radio-group"
                                  [(ngModel)]="favoriteCode">
                                  <mat-radio-button class="radio-button" *ngFor="let code of codes" [value]="code" [checked]="code === 'Code'" >
                                    {{code}}
                                  </mat-radio-button>
                                </mat-radio-group>
                            </td>
                          </tr>
                      <tr>
                        <th>Items</th><td>
                            <mat-radio-group
                                  aria-labelledby="radio-group-label"
                                  class="radio-group"
                                  [(ngModel)]="favoriteItem">
                                  <mat-radio-button class="radio-button" *ngFor="let item of _items" [value]="item" [checked]="item === 'Items'" >
                                    {{item}}
                                  </mat-radio-button>
                                </mat-radio-group>
                        </td>
                      </tr>
                      <tr>
                        <th>Units</th><td>
                            <mat-radio-group
                                  aria-labelledby="radio-group-label"
                                  class="radio-group"
                                  [(ngModel)]="favoriteUnit">
                                  <mat-radio-button class="radio-button" *ngFor="let unit of _units" [value]="unit" [checked]="unit === 'Quantity'" >
                                    {{unit}}
                                  </mat-radio-button>
                                </mat-radio-group>
                        </td>
                      </tr>
                      <tr>
                        <th>Price</th><td>

                            <mat-radio-group
                            aria-labelledby="radio-group-label"
                            class="radio-group"
                            [(ngModel)]="favoritePrice">
                            <mat-radio-button class="radio-button" *ngFor="let price of prices" [value]="price" [checked]="price === 'Price'" >
                              {{price}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </td>
                      </tr>
                      <tr>
                        <th>Amount</th><td>
                            <mat-radio-group
                            aria-labelledby="radio-group-label"
                            class="radio-group"
                            [(ngModel)]="favoriteAmount">
                            <mat-radio-button class="radio-button" *ngFor="let amount of amounts" [value]="amount" [checked]="amount === 'Amount'" >
                              {{amount}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </td>
                      </tr>
                    </table>

                    <h3 class="modal-title m-4" mat-dialog-title trans>Invoice receiption settings</h3>
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Receiption Title</mat-label>
                      <input matInput placeholder="Rename Receiption Title" formControlName="reception_title">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Receiption Name</mat-label>
                      <input matInput placeholder="Rename Receiption Name" formControlName="reception_name">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Receiption Phone</mat-label>
                      <input matInput placeholder="Rename Receiption Phone" formControlName="reception_tel">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Receiption Date</mat-label>
                      <input matInput placeholder="Rename Receiption Date" formControlName="reception_date">

                    </mat-form-field><br />
                    <h3 class="modal-title m-4" mat-dialog-title trans>More details settings</h3>
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Done Message</mat-label>
                      <input matInput placeholder="Done Message" formControlName="done_title">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Done at</mat-label>
                      <input matInput placeholder="Rename Done at or Fait le" formControlName="done_at">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Done where</mat-label>
                      <input matInput placeholder="Rename Done where or Fait a" formControlName="done_where">

                    </mat-form-field><br />
                    <mat-form-field appearance="outline" class="w-100 col-12">
                      <mat-label>Rename Nome , Cashet and Signature</mat-label>
                      <input matInput placeholder="Rename Nome , Cashet and Signature" formControlName="nom_signature_cachet">

                    </mat-form-field><br />

                    <label class="modal-title m-4" id="radio-group-label">Hide info on your invoices:</label>
                    <table class="ml-4 w-100 col-12">
                      <tr>
                     <td>
                    <mat-checkbox formControlName="hide_logo">Hide Logo</mat-checkbox>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <mat-checkbox formControlName="hide_visa">Hide Visa</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox formControlName="hide_discount_table">Hide Adherent Discount Table</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox formControlName="hide_taxable_table">Hide Taxable Table</mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox formControlName="hide_reception_table">Hide Receiption Table</mat-checkbox>
                  </td>
                </tr>
                </table>
                  </mat-card-content>
            </form>
            <mat-divider [vertical]="true"></mat-divider>
          </div>

      <div class="col-8">
        <h2 class="modal-title m-3" mat-dialog-title trans>Preview Invoice</h2>
        <mat-divider></mat-divider>
        <app-preview-invoice-customized></app-preview-invoice-customized>
      </div>

</div>
