.container1{
    position: relative;
    height: calc(100vh - 30px);
    margin-top: 30px;
    bottom: 0;
}

.toolbar {
    color: #fff !important;
    background-color: #211a36;
  }
  
  input {
    padding: 12px 16px !important;
    font-size: 14px !important;
    ;
    line-height: 1.715 !important;
    ;
    width: 100% !important;
    ;
    background-color: transparent !important;
    ;
    border: none !important;
  }
  
  mat-select {
    padding: 12px 16px !important;
    font-size: 14px !important;
    ;
    line-height: 1.715 !important;
    ;
    width: 100% !important;
    ;
    background-color: #fff !important;
    ;
    border: none !important;
    color: #2996cc !important;
    width: 100%
  }
  
  .mat-select-placeholder {
    color: #2996cc !important;
  }
  
  .mat-select-value {
    color: #2996cc !important;
  }
  
  textarea {
    padding: 12px 16px;
    border: 0;
    height: 120.03px;
    width: 100%;
    background: 0 0;
    resize: none;
  }
  
  .tr {
    font-size: 14px;
    line-height: 1.715;
    display: flex;
    width: 100%;
    color: #343b42;
    border-bottom: 1px #d5d9dc solid;
  }
  
  .td {
    width: 40%;
    padding: 12px 16px;
    width: 200px;
    font-weight: 500;
    background-color: #ebedef;
    cursor: default;
    display: flex;
    justify-content: space-between;
  }
  
  .td-sm {
    width: 25%;
    padding: 12px 16px;
    width: 200px;
    font-weight: 500;
    background-color: #ebedef;
    cursor: default;
    display: flex;
    justify-content: space-between;
  }
  
  .trIsFocused {
    border-bottom: 1px #2996cc solid;
  }
  
  .tdIsFocused {
    background-color: #d4eaf5;
  }
  
  .invalid {
    border-bottom: 1px #ad061c solid;
  }
  
  .form-link-with-spacing {
    padding: 12px 16px;
    display: block;
    width: 100%;
  }
  
  .hyperlink {
    cursor: pointer;
    color: #2996cc !important;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.715;
    font-weight: 500;
  }
  
  .price{
    width: 100%;
  }
  .price .currency{
    width: 25%;
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 5px;
  }
  .price .pinput{
    width: 50%; display: inline-block;
  }
  
  .table--flex .table-row, .table--flex tr {
    display: flex;
    line-height: 1.715;
  }
  .table-row, tr {
    border-bottom: 1px solid rgb(213, 217, 220);
  }
  .table--flex .table-cell, .table--flex .table-cell-header, .table--flex td, .table--flex th {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
  }
  .table-cell-header:first-child, .table-cell:first-child, td:first-child, th:first-child {
    padding-left: 16px;
  }
  .editable-variation-table__header__cell {
    overflow: visible;
  }
  .table-cell-header, th {
    color: rgb(52, 59, 66);
    font-weight: 500;
    border-top: 1px solid rgb(213, 217, 220);
  }
  .table-cell, .table-cell-header, td, th {
    height: 48px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
  }
  
  .table-header, thead {
    background-color: rgb(235, 237, 239);
    text-align: left;
  }
  .table--editable {
    border-left: 1px solid rgb(213, 217, 220);
    border-right: 1px solid rgb(213, 217, 220);
  }
  
  .editable-variation-list__more-options-cell {
    position: absolute;
    top: 0px;
    right: -40px;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .editable-variation-list__more-options-cell .dropdown {
    position: relative;
  }
  .dropdown__trigger {
    cursor: pointer;
    outline: 0px;
  }
  
  .more-actions-menu__trigger {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  .caret-down::after, .caret-left::after, .caret-right::after, .caret-up::after, .svg-icon {
    display: inline-block;
  }

.alert-danger {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert-warning {
    padding: 20px;
    background-color: orange;
    color: white;
  }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}