<div style="min-width:600px;">
  <div class="invoice-box">
    <div class="printSection">
      <div style="min-width:600px;">
        <div>
          <div class="invoice-box">
            <table class="title">
              <tr class="tr-border">
                <th class="th-border" style="width:15%" *ngIf="!(invoice$ | async).hide_logo">
                  <img [src]="(invoice$ | async).logo?(invoice$ | async).logo:'assets/logo/avatar.png'" alt="" style="width:100%">
                </th>
                <th class="th-border"  [style]="(invoice$ | async).hide_logo?'width:80%':'width:100%'">
                  <span>{{(invoice$ | async).company_name?(invoice$ | async).company_name:'Company name'}}</span><br />
                  <span>{{(invoice$ | async).address?(invoice$ | async).address:'Company address'}}</span><br />
                  <span>{{(invoice$ | async).contact?(invoice$ | async).contact:'Company contact'}}</span>
                  <br />
                  <span>{{(invoice$ | async).tax_number}}</span>
                </th>
                <th class="th-border" style="width:25%">
                  N°:<br />
                  Date:<br />
                </th>
              </tr>
              <tr>
                <th colspan="3"  class="th-border" style="text-align:center; text-decoration:underline;border:none">
                {{(invoice$ | async).default_title?(invoice$ | async).default_title:'Invoice'}}
                </th>
              </tr>
            
            </table>

            <table cellpadding="0" cellspacing="0" style="margin-top:8%">
        
              <tr>
                <th class="th-border">
                   {{(invoice$ | async).customer_number?(invoice$ | async).customer_number:' N° Customer'}}:.....
                </th>
              </tr>
                <tr>
                <th class="th-border">
                   {{(invoice$ | async).customer_name?(invoice$ | async).customer_name:'Name'}}:.....
                </th>
                </tr>

                 <tr>
                <th class="th-border">
                   {{(invoice$ | async).customer_dob?(invoice$ | async).customer_dob:'Birth date'}}:.....
                </th>
                </tr>

                 <tr>
                <th class="th-border">
                   {{(invoice$ | async).customer_address?(invoice$ | async).customer_address:'Address'}}:.....
                </th>
                </tr>
                 <tr>
                <th class="th-border">
                   {{(invoice$ | async).beneficiary?(invoice$ | async).beneficiary:'Beneficiary'}}:.....
                </th>
                </tr>


            </table>


            <table cellpadding="6" cellspacing="0"
              style="margin-top:8%">

              <thead>
                <tr valign="top" style="border:none!important" *ngIf="(invoice$ | async).default_sub_title">
                  <th style="border:none!important" colspan="5">{{(invoice$ | async).default_sub_title?(invoice$ | async).default_sub_title:''}}</th>
                </tr>
                <tr valign="top" class="heading">
                  <th>{{(invoice$ | async).number?(invoice$ | async).number:'Code'}}</th>
                  <th>{{(invoice$ | async).items?(invoice$ | async).items:'Items'}}</th>
                   <th>{{(invoice$ | async).units?(invoice$ | async).units:'Qty'}}</th>
                  <th>{{(invoice$ | async).price?(invoice$ | async).price:'Price'}}</th>
                   <th>{{(invoice$ | async).amount?(invoice$ | async).amount:'Amount'}}</th>
                </tr>
              </thead>
              <tbody id="list_items">
                  <tr>
                  <td>001</td>
                  <th>item</th>
                   <th>1</th>
                  <th>100</th>
                   <th>Rwf 100</th>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="no-bottom-border" style="text-align:right;font-weight: bold">TOTAL: </td>
                  <td style="border:1px solid #000;text-align:left;font-weight: bold">
                  0.00 </td>
                </tr>
              </tfoot>
            </table>
            <br />
            <div class="percentage_total">
              <div class="table-none">.</div>
              <div class="table-percentage_total">
                <table cellpadding="2" cellspacing="0" border=1>
                  <tr>
                    <th style="width:65%">
                      <span style="float: left;font-weight: bold">TOTAL</span>
                      <span style="float: right;font-weight: bold">100%</span>
                    </th>
                    <th style="width:35%">0.00
                    </th>

                  </tr>

                  <tr>
                    <th style="width:65%">
                      <span style="float: left;font-weight: bold">ADRHERENT</span>
                      <span
                        style="float: right;font-weight: bold">0.00%</span>
                    </th>
                    <th style="width:35%">RWF 0.00</th>
                  </tr>
                  <tr>
                    <th style="width:65%">
                      <span style="float: left;font-weight: bold">Rssb</span>
                      <span
                        style="float: right;font-weight: bold">0.00%</span>
                    </th>
                    <th style="width:35%">RWF 0.00</th>

                  </tr>

                </table>
              </div>


            </div>
<br />
            <div class="percentage_total" style="margin-top:10%">
              <div class="signature">
                <b>Fait à ...........................le ...........................</b>
                <br />
                <table>
                  <tr style="border:none!important">
                    <th style="border:none!important">Sign bénéficiaire
                      <br />ou du donnant droit
                    </th>
                    <th style="border:none!important"> Nom, Cashet Signature du prestataire</th>
                  </tr>
                </table>

              </div>
              <div class="table-percentage_total">
                <span style="float: left;font-weight: bold">Cachet de la FOSA</span>
                <span style="float: right;font-weight: bold">VISA MMI</span>

              </div>
            </div>
          </div>

        </div>
      </div>
      <br />
      <div style="text-align:center;margin-top:22%">
        <b>&copy; Flipper Ltd</b>
      </div>
    </div>
  </div>
</div>
