<div class="ybx-signIn mt-150">
    <span class="form-load" *ngIf="v.loading">
        <mat-progress-bar class="primary-progress-bar" mode="indeterminate"></mat-progress-bar>
    </span>
    <div class="inner-box">
        <div class="justify-content-center mr-auto text-center">
            <div class="h3 d-block p-2 w-100">Welcome</div>
            <div class="d-block p-2 w-100">{{user.email}}</div>
            <div class="clearfix"></div>
        </div>


        <form class="ybx-defaultForm" [formGroup]="form" (ngSubmit)="PasswordVerify()">
            <mat-form-field class="ybx-mat mat-full-wdth">
                <input hidden="hidden" matInput type="email" value="{{user.email}}" placeholder="Password"
                    formControlName="email" />
                <input matInput type="password" placeholder="Password" formControlName="password" />
            </mat-form-field>

            <div class="clearfix"></div>
            <div class="col-12">
                <div *ngIf="v.errorErrors.length > 0" class="pull-left">
                    <div *ngFor="let err of v.errorErrors">
                        <mat-error *ngIf="err.email"><strong>{{err.email}}</strong></mat-error>
                        <mat-error *ngIf="err.password"> <strong>{{err.password}}</strong></mat-error>
                    </div>
                    <mat-error *ngIf="v.errorMsg!=''"><strong>{{v.errorMsg}}</strong></mat-error>
                </div>

            </div>
            <form class="ybx-mat">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-6 button-row">
                        <a button class="button pl-0" (click)="resetPassword()">Forget password</a>
                    </div>
                    <div class="col-6 order-6">
                        <button mat-raised-button class="mat-primary-btn float-right" *ngIf='!v.loading' type="submit">Next
                        </button>
                        <button mat-raised-button class="mat-primary-btn float-right" *ngIf='v.loading' [disabled]="true">Next
                            ... </button>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>