<mat-toolbar>
  <mat-toolbar-row>
    <div class="col-8">
        <button mat-button><mat-icon class="">menu</mat-icon>{{title}}  </button>
      <span class="spacer"></span>
      <span class="spacer"></span>
      </div>

         <div class="col-4">
            <button color='accent' class="float-right" mat-raised-button (click)="newStck()">
            <mat-icon class="">add</mat-icon>Create New Stock</button>
         </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="col-12" *ngIf="data && data.length > 0">
  <mat-form-field class="w-100 px-2">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation();openDetails('Stock Details','info',row,'app-info-stock-model')"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU <mat-icon matSuffix [matTooltip]="sku_tool_tips" aria-label="Stock Keeping Unit">info</mat-icon></th>
      <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"><span class="text">{{element.item.sku }}</span></td>
    </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="barcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode <mat-icon matSuffix [matTooltip]="upc_tool_tips" aria-label="Universal Product Code">info</mat-icon></th>
          <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"><span class="text">{{element.item.barcode }}</span></td>
        </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"> {{element.item.item}} </td>
    </ng-container>

  <!--  Category Column -->
  <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"><span class="text">{{element.category.name}}</span> </td>
    </ng-container>
       <!--  Qty Column -->
       <ng-container matColumnDef="tax_rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Rate </th>
        <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"><span class="text">
          {{element.tax_rate?element.tax_rate.name:''}}</span></td>
      </ng-container>


         <ng-container matColumnDef="available_stock_qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Currently Quantities </th>
            <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')"><span class="text">{{element.available_stock_qty}}</span></td>
          </ng-container>


              <!--  Qty Column -->
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress </th>
                <td mat-cell *matCellDef="let element" (click)="openDetails('Stock Details','info',element,'app-info-stock-model')">

                    <mat-progress-bar *ngIf="percentage(element.available_stock_qty,element.in_stock_qty) >= 71" [mode]="determinate" [color]="accent" [value]="percentage(element.available_stock_qty,element.in_stock_qty)"></mat-progress-bar>
                    <mat-progress-bar *ngIf="percentage(element.available_stock_qty,element.in_stock_qty) <= 70 && percentage(element.available_stock_qty,element.in_stock_qty) >= 41" [mode]="determinate"  [color]="primary" [value]="percentage(element.available_stock_qty,element.in_stock_qty)"></mat-progress-bar>
                    <mat-progress-bar *ngIf="percentage(element.available_stock_qty,element.in_stock_qty) <= 40 && percentage(element.available_stock_qty,element.in_stock_qty) >= 0"[mode]="determinate" [color]="warn" [value]="percentage(element.available_stock_qty,element.in_stock_qty)"></mat-progress-bar>
                    {{percentage(element.available_stock_qty,element.in_stock_qty)}} %
                  </td>
              </ng-container>

    <thead>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>
    <tbody style="overflow: auto;">
    <tr [class.highlighted]="((details$ | async).sender_data?(details$ | async).sender_data.stock_id==row.stock_id:false)" mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
    </tbody>
  </table>

  <div class="clearfix"></div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<stock-no-entry-found *ngIf="data && data.length == 0" [message]="message(title)" [subMessage]='subMessage(title)'></stock-no-entry-found>


