
<data-table [dataSource]="dataSource" [itemsName]="title" [isLoading]="(loading | async)" notFoundMessage="Seems like no stock found!" hiddenCheckBox="false" matSort>
  <div headerLeftActions>
      <mat-form-field appearance="outline">
        <mat-label>Choose Stock Type</mat-label>

        <mat-select [(ngModel)]="default_status">
              <mat-option *ngFor="let t of stockTypes" [value]="t.value" (onSelectionChange)="stockParams($event)">
                {{t.viewValue}}
              </mat-option>
            </mat-select>
    </mat-form-field>

    </div>
  <div class="input-container" headerRightActions>
      <input type="text" class="search" placeholder="Search everthing ..." trans-placeholder [formControl]="dataSource.searchQuery">
      <mat-icon svgIcon="search"></mat-icon>
    </div>

  <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteSelectedStocks()" headerSelectedActions>
      <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef trans>S.K.U
        <mat-icon matSuffix [matTooltip]="sku_tool_tips" aria-label="Stock Keeping Unit">info</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let stock"> {{stock.item.sku}} </mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="barcode">
    <mat-header-cell *matHeaderCellDef trans>Barcode</mat-header-cell>
    <mat-cell *matCellDef="let stock"> {{stock.item.barcode}} </mat-cell>
</ng-container> -->

<ng-container matColumnDef="item">
  <mat-header-cell *matHeaderCellDef trans>Stock</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> <span class="ellipsis" [matTooltip]="stock.item.item">{{stock.item.item}}</span> </mat-cell>
</ng-container>

<ng-container matColumnDef="category">
  <mat-header-cell *matHeaderCellDef trans>Category</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> <span class="ellipsis">{{stock.category?stock.category.name:'----'}} </span></mat-cell>
</ng-container>
<ng-container matColumnDef="tax_rate">
  <mat-header-cell *matHeaderCellDef trans>Tax rate</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> <span class="ellipsis">{{stock.tax_rate?stock.tax_rate.name+'('+stock.tax_rate.percentage+')':'---'}}</span> </mat-cell>
</ng-container>

<ng-container matColumnDef="available_stock_qty">
  <mat-header-cell *matHeaderCellDef  trans>Quantities</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> {{stock.available_stock_qty}} </mat-cell>
</ng-container>

<ng-container matColumnDef="created_at">
  <mat-header-cell *matHeaderCellDef mat-sort-header trans>Created at</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> {{stock.created_at | date}} </mat-cell>
</ng-container>
<ng-container matColumnDef="updated_at">
  <mat-header-cell *matHeaderCellDef mat-sort-header trans>Updated at</mat-header-cell>
  <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)"> {{stock.updated_at | date}} </mat-cell>
</ng-container>

<ng-container matColumnDef="progress">
    <mat-header-cell *matHeaderCellDef trans>Progress</mat-header-cell>
    <mat-cell *matCellDef="let stock" (click)="openOperationBtn(stock)">
        <mat-progress-bar
        *ngIf="percentage(stock.available_stock_qty,stock.in_stock_qty)
        >= 71" [mode]="determinate" [color]="accent"
        [value]="percentage(stock.available_stock_qty,stock.in_stock_qty)"></mat-progress-bar>
      <mat-progress-bar
        *ngIf="percentage(stock.available_stock_qty,stock.in_stock_qty)
      <= 70 && percentage(stock.available_stock_qty,stock.in_stock_qty)
        >= 41" [mode]="determinate" [color]="primary"
        [value]="percentage(stock.available_stock_qty,stock.in_stock_qty)"></mat-progress-bar>
      <mat-progress-bar
        *ngIf="percentage(stock.available_stock_qty,stock.in_stock_qty)
      <= 40 && percentage(stock.available_stock_qty,stock.in_stock_qty)
        >= 0"[mode]="determinate" [color]="warn"
        [value]="percentage(stock.available_stock_qty,stock.in_stock_qty)"></mat-progress-bar>
        &nbsp; &nbsp;
      {{percentage(stock.available_stock_qty,stock.in_stock_qty)}} %
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let stock">
          <button mat-icon-button (click)="openOperationBtn(stock)"  [matTooltip]="'Edit stock' | trans">
              <mat-icon svgIcon="info"></mat-icon>
          </button>
      </mat-cell>
  </ng-container>
</data-table>

