<div class="details-right-side-panel">

  <div class="sider-container">


    <div mat-dialog-content class="edit-pane" *ngIf="order">
      <div>
        <div class="right-side-body">
          <div class="right-side-blade__section">
            <h2 class="right-side-blade__header">
              {{currency}} {{order.subTotal | roundNumber}} Payment
              <!-- FRw1,458.81 Payment -->
            </h2>

            <div class="right-side-blade__header-datetime right-side-blade__header-data">
              {{order.createdAt | date}} {{order.createdAt | date:'mediumTime'}}
              <!-- Feb. 5, 2020 11:33 am -->
            </div>

            <!---->
            <div class="right-side-blade__header-data">
              Collected at: {{order.branch?order.branch.name:'--'}}
            </div>

            <!---->
            <div class="right-side-blade__header-data">
              Source: Point of Sale
            </div>

            <!---->
          </div>

          <!---->
          <div class="right-side-blade__section">
            <h5 class="right-side-blade__section-header type-small-caps">
              For Here
            </h5>

            <div class="right-side-blade__section-body--with-header" *ngIf="order.orderItems.length > 0">
              <div class="right-side-blade__right-side-row">
                <div class="row" *ngFor="let data of order.orderItems; let i = index;">
                  <div *ngIf="data.variantName" class="data-name col float-left">
                    <span class="type-strong" style="float: left;text-align: left;">
                      {{data.variantName}}<br />
                      {{currency}} {{data.price | roundNumber}}{{data.unit?'/'+data.unit:''}} {{'x'+data.quantity}}
                    </span>

                    <!---->
                    <div *ngIf="data.productName && data.productName!=data.variantName"
                      class="right-side-blade__right-side-row-meta type-strong">
                      {{data.productName}}
                    </div>
                  </div>

                  <div class="type-tnum price-data col float-right" style="float: right!important;">
                    {{currency}} {{data.price*data.quantity | roundNumber}}
                    <!---->
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!---->

          <div class="right-side-blade__section grid-row">

            <div class="right-side-blade__section-body mt-3">

              <div class="row">
                <div class="col float-left">
                  Subtotal
                </div>

                <div class="col float-right type-tnum"  style="float: right!important;">
                  {{currency}} {{order.subTotal | roundNumber}}
                </div>
              </div>

              <!---->
              <!---->
              <!-- <div class="row">
                <div class="col float-left">
                  Tax Included
                </div>
                <div class="col float-right type-tnum"  style="float: right!important;">
                  ({{currency}} {{order.taxAmount | roundNumber}})
                </div>
              </div> -->

              <div class="row">
                <div class="float-left col">
                  Vat
                </div>
                <div class="float-right type-tnum col"  style="float: right!important;">
                  ({{currency}} {{order.taxAmount | roundNumber}})
                </div>
              </div>

            </div>
          </div>
          <div class="right-side-blade__section grid-row">
            <div class="right-side-blade__section-body mt-3">


              <div class="grid-row right-side-blade__right-side-row">
                <div class="right-side-blade__right-side-row">

                  <div class="row">
                    <div class="col float-left">
                      Total
                    </div>
                    <div class="col float-right type-tnum"  style="float: right!important;">
                      {{currency}} {{order.saleTotal | roundNumber}}
                      <!-- FRw1,458.81 -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col float-left">
                      Tendered
                    </div>
                    <div class="col float-right type-tnum"  style="float: right!important;">
                      ({{currency}} {{order.cashReceived | roundNumber}})
                    </div>
                  </div>

                  <div class="row">
                    <div class="col float-left">
                      Change
                    </div>
                    <div class="col float-right type-tnum"  style="float: right!important;">
                      ({{currency}} {{order.customerChangeDue | roundNumber}})
                    </div>
                  </div>

                  <div class="right-side-blade__right-side-row">
                    <div class="row">
                      <div class="col float-left">
                        Cash
                      </div>

                      <div class="col float-right type-tnum"  style="float: right!important;">
                        {{currency}} {{order.saleTotal | roundNumber}}
                      </div>
                    </div>
                    <div class="erow">
                      <div class="col">
                        {{order.createdAt | date}} {{order.createdAt | date:'mediumTime'}}
                      </div>

                      <div class="row">
                        <a href="#" target="_blank">
                          <div class="col float-right"  style="float: right!important;">
                            Receipt # {{order.orderNumber}}
                          </div>
                        </a>
                      </div>

                      <!---->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!---->
          <!---->
          <!---->
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="float: right;" class="mr-5 mt-5">
    <button mat-button (click)="closeOrderDetails()" class="ml-3" cdkFocusInitial>Close</button>
    <!-- <button (click)="printOut()" class="button-default button--success ml-1" cdkFocusInitial>Print Receipt</button> -->
  </div>
</div>
