<div class="edit-pane__content">

  <div class="sider-container">


    <div mat-dialog-content class="edit-pane" *ngIf="order">
      <div class="ember-view" #printReceipt>
        <div class="detail-body">
          <div id="ember711" class="detail-blade__section">
            <h2 class="detail-blade__header">
              {{currency}} {{order.subTotal | roundNumber}} Payment
              <!-- FRw1,458.81 Payment -->
            </h2>

            <div class="detail-blade__header-datetime detail-blade__header-data">
              {{order.createdAt | date:'date'}} {{order.createdAt | date:'mediumTime'}}
              <!-- Feb. 5, 2020 11:33 am -->
            </div>

            <!---->
            <div class="detail-blade__header-data">
              Collected at: {{order.branch?order.branch.name:'--'}}
            </div>

            <!---->
            <div class="detail-blade__header-data">
              Source: Point of Sale
            </div>

            <!---->
          </div>

          <!---->
          <div class="detail-blade__section">
            <h5 class="detail-blade__section-header type-small-caps">
              For Here
            </h5>

            <div class="detail-blade__section-body--with-header" *ngIf="order.orderItems.length > 0">
              <div class="detail-blade__detail-row">
                <div class="row" *ngFor="let details of order.orderItems; let i = index;">
                  <div *ngIf="details.variantName" class="details-name col float-left">
                    <span class="type-strong">
                      {{details.variantName+' x '+details.quantity +''+ details.unit}}
                    </span>

                    <!---->
                    <div *ngIf="details.productName && details.productName!=details.variantName"
                      class="detail-blade__detail-row-meta type-strong">
                      {{details.productName}}
                    </div>
                  </div>

                  <div class="type-tnum price-details col float-right">
                    {{currency}} {{details.price | roundNumber}}
                    <!---->
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!---->

          <div class="detail-blade__section grid-row">

            <div class="detail-blade__section-body mt-3">

              <div class="row">
                <div class="col float-left">
                  Subtotal
                </div>

                <div class="col float-right type-tnum">
                  {{currency}} {{order.subTotal | roundNumber}}
                </div>
              </div>

              <!---->
              <!---->
              <div class="row">
                <div class="col float-left">
                  Tax Included
                </div>
                <div class="col float-right type-tnum">
                  FRw218.76
                </div>
              </div>

              <div class="row">
                <div class="float-left col">
                  Vat
                </div>
                <div class="float-right type-tnum col">
                  FRw218.76
                </div>
              </div>

            </div>
          </div>
          <div class="detail-blade__section grid-row">
            <div class="detail-blade__section-body mt-3">


              <div class="grid-row detail-blade__detail-row">
                <div class="detail-blade__detail-row">

                  <div class="row">
                    <div class="col float-left">
                      Total
                    </div>
                    <div class="col float-right type-tnum">
                      {{currency}} {{order.subTotal | roundNumber}}
                      <!-- FRw1,458.81 -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col float-left">
                      Tendered
                    </div>
                    <div class="col float-right type-tnum">
                      ({{currency}} {{order.cashReceived | roundNumber}})
                    </div>
                  </div>

                  <div class="row">
                    <div class="col float-left">
                      Change
                    </div>
                    <div class="col float-right type-tnum">
                      ({{currency}} {{order.customerChangeDue | roundNumber}})
                    </div>
                  </div>

                  <div class="detail-blade__detail-row">
                    <div class="row">
                      <div class="col float-left">
                        Cash
                      </div>

                      <div class="col float-right type-tnum">
                        {{currency}} {{order.subTotal | roundNumber}}
                      </div>
                    </div>
                    <div class="erow">
                      <div class="col">
                        {{order.createdAt | date:'date'}} {{order.createdAt | date:'mediumTime'}}
                      </div>

                      <div class="row">
                        <a href="#" target="_blank">
                          <div class="col float-right">
                            Receipt # {{order.orderNumber}}
                          </div>
                        </a>
                      </div>

                      <!---->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!---->
          <!---->
          <!---->
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="float: right;" class="mr-5 mt-5">
    <button mat-button (click)="closeOrderDetails()" class="ml-3" cdkFocusInitial>Close</button>
    <!-- <button (click)="printOut()" class="button-default button--success ml-1" cdkFocusInitial>Print Receipt</button> -->
  </div>
</div>
