@import "../../../app_sass/variables";

.details-list {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .name {
      width: 120px;
      flex: 0 0 120px;
      color:  $site-text-color-300;;
    }

    .value {
      flex: 1 1 auto;
    }

    .type-value {
      text-transform: capitalize;
    }
  }
}
