@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-green);
$app-info: mat-palette($mat-light-blue);
$app-success: mat-palette($mat-light-green);
$app-error: mat-palette($mat-deep-orange);
$app-background: mat-palette($mat-light-green);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
 
$app-dark: mat-color($app-background, 100);

// $mat-theme: (
//   primary: $app-primary,
//   accent: $app-accent,
//   warn: $app-warn,
//   is-dark: false,
//   foreground: (
//     base:              $app-dark,
//     divider:           $light-dividers,
//     dividers:          $light-dividers,
//     disabled:          $light-disabled-text,
//     disabled-button:   rgba($app-dark, 0.3),
//     disabled-text:     $light-disabled-text,
//     hint-text:         $light-disabled-text,
//     secondary-text:    $light-secondary-text,
//     icon:              $app-dark,
//     icons:             $app-dark,
//     text:              $app-dark,
//     slider-min:        $app-dark,
//     slider-off:        rgba($app-dark, 0.3),
//     slider-off-active: rgba($app-dark, 0.3),
//   ),
//   background: $mat-light-theme-background,
// );


$theme-foreground: (
  base:              gray,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(200, 200, 200, 0.38),
  disabled-button:   rgba(200, 200, 200, 0.38),
  disabled-text:     rgba(200, 200, 200, 0.38),
  hint-text:         rgba(200, 200, 200, 0.38),
  secondary-text:    rgba(200, 200, 200, 0.54),
  icon:              rgba(200, 200, 200, 0.54),
  icons:             rgba(200, 200 , 200, 0.54),
  text:              rgba(27, 26, 26, 0.87),
  slider-min:        rgba(200, 200, 200, 0.87),
  slider-off:        rgba(200, 200, 200, 0.26),
  slider-off-active: rgba(200, 200, 200, 0.38),
);

$theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover:      rgba(200, 200, 200, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
);

$theme: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
    is-dark: false,
    foreground: $theme-foreground,
    background: $theme-background
  );




  



$app-dark-primary: mat-palette($mat-blue);
$app-dark-accent: mat-palette($mat-green);
$app-dark-info: mat-palette($mat-light-blue);
$app-dark-success: mat-palette($mat-light-green);
$app-dark-error: mat-palette($mat-deep-orange);
$app-dark-background: mat-palette($mat-gray);

// The warn palette is optional (defaults to red).
$app-dark-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
//$mat-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
$app-dark-white: mat-color($app-dark-background, 100);
$dark-theme: (
  primary:$app-dark-primary,
  accent: $app-dark-accent,
  warn: $app-dark-warn,
  is-dark: true,
  foreground: (
    base:              $app-dark-white,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba($app-dark-white, 0.3),
    disabled-text:     $light-disabled-text,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              $app-dark-white,
    icons:             $app-dark-white,
    text:              $app-dark-white,
    slider-min:        $app-dark-white,
    slider-off:        rgba($app-dark-white, 0.3),
    slider-off-active: rgba($app-dark-white, 0.3),
  ),
  background: $mat-dark-theme-background,
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theme);


$_background: map-get($theme, background);
$_foreground: map-get($theme, foreground);
$app-background-color: mat-color($_background, background);
$app-foreground-color: mat-color($_foreground, text);
$app-foreground-secondary-color: mat-color($_foreground, secondary-text);

.unicorn-dark-theme {

@include angular-material-theme($dark-theme);

$_background: map-get($dark-theme, background);
$_foreground: map-get($dark-theme, foreground);
$app-background-color: mat-color($_background, background);
$app-foreground-color: mat-color($_foreground, text);
$app-foreground-secondary-color: mat-color($_foreground, secondary-text);
}


// $_background: map-get($dark-theme, background);
// $_foreground: map-get($dark-theme, foreground);
// $app-background-color: mat-color($_background, background);
// $app-foreground-color: mat-color($_foreground, text);
// $app-foreground-secondary-color: mat-color($_foreground, secondary-text);


