
<data-table [dataSource]="dataSource" itemsName="Suppliers" [isLoading]="(loading | async)" matSort>
  <div headerLeftActions>
      <button mat-raised-button  class="button" (click)="showCrupdateSupplierModal()"  trans>Create a Supplier</button>
    </div>
  <div class="input-container" headerRightActions>
      <input type="text" class="search" placeholder="Search Suppliers ..." trans-placeholder [formControl]="dataSource.searchQuery">
      <mat-icon svgIcon="search"></mat-icon>
    </div>

  <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteSelectedSuppliers()" headerSelectedActions>
      <mat-icon svgIcon="delete"></mat-icon>
  </button>

  <ng-container matColumnDef="full_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Full name</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.full_name}} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="supplier_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Supplier #</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.supplier_no}} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>eMail</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.email}} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Phone</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.phone}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Address</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.address}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>City</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.city}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Country</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.country}} </mat-cell>
  </ng-container>
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header trans>Company</mat-header-cell>
      <mat-cell *matCellDef="let supplier"> {{supplier.company}} </mat-cell>
  </ng-container>

<ng-container matColumnDef="selected" *ngIf="enableSelectButton">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let supplier">
        <button (click)="selectSupplier(supplier)" class="button-success" *ngIf="supplier.id!=selectedId" [disabled]="supplier.id==selectedId?true:false"  [matTooltip]="'Select supplier' | trans">Select
        </button>
        <button  class="button-cancel" *ngIf="supplier.id==selectedId"  [matTooltip]="'Selected supplier' | trans">Selected
        </button>
    </mat-cell>
</ng-container>

  <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let supplier">
          <button mat-icon-button (click)="showCrupdateSupplierModal(supplier)"  [matTooltip]="'Edit Supplier' | trans">
              <mat-icon svgIcon="edit"></mat-icon>
          </button>
      </mat-cell>
  </ng-container>
</data-table>
