// ================================================ //
//                  VARIABLES                       //
// ================================================ //



// Color & Background
// ============================

$navColor:          rgb(255, 255, 255)  !important;    // #ffffff
$defaultColor:      rgb(66, 82, 110);    // #4fb7f0

$greenSea:          rgb(9, 235, 175);
$primaryColor:      rgb(0, 123, 255);

$hm_PrimaryBg:         rgb(0, 0, 27); //rgb(3, 169, 244); //rgb(43, 101, 255);
$hm_DefautlBg:         rgb(248, 249, 251);

// Fonts & Size
// ============================

$defaultSize:   14px;