
@keyframes slidein1 {
    0% {
        left: 50px
    }
    50% {
        left: 40px
    }
    100% {
        left: 50px
    }
}

@keyframes slidein2 {
    0% {
        left: -10px
    }
    50% {
        left: -20px
    }
    100% {
        left: -10px
    }
}

@keyframes slidein3 {
    0% {
        left: -9px
    }
    50% {
        left: -5px
    }
    100% {
        left: -9px
    }
}

@keyframes slidein4 {
    0% {
        left: 70px
    }
    50% {
        left: 60px
    }
    100% {
        left: 70px
    }
}

@keyframes slidein5 {
    0% {
        left: 270px
    }
    50% {
        left: 260px
    }
    100% {
        left: 270px
    }
}

@keyframes slidein6 {
    0% {
        left: -10px
    }
    50% {
        left: -20px
    }
    100% {
        left: -10px
    }
}

@keyframes slidein7 {
    0% {
        right: 80px
    }
    50% {
        right: 70px
    }
    100% {
        right: 80px
    }
}

@keyframes slidein8 {
    0% {
        right: -10px
    }
    50% {
        right: -20px
    }
    100% {
        right: -10px
    }
}

@keyframes slidein9 {
    0% {
        right: -9px
    }
    50% {
        right: -5px
    }
    100% {
        right: -9px
    }
}

@keyframes slidein10 {
    0% {
        right: 100px
    }
    50% {
        right: 90px
    }
    100% {
        right: 100px
    }
}

@keyframes slidein11 {
    0% {
        right: 290px
    }
    50% {
        right: 280px
    }
    100% {
        right: 290px
    }
}

@keyframes slidein12 {
    0% {
        right: -10px
    }
    50% {
        right: -20px
    }
    100% {
        right: -10px
    }
}

